<section class="s-adv sect-p _primary">
  <div class="s-adv__body">
    <div class="container">
      <div class="s-adv__wrapper">
        <div class="s-adv__item">
          <div class="num">11</div>
          <div class="val">лет на рынке</div>
        </div>
        <div class="s-adv__item">
          <div class="num">100+</div>
          <div class="val">участков в продаже</div>
        </div>
        <div class="s-adv__item">
          <div class="num">от 99 000</div>
          <div class="val">рублей / сотка</div>
        </div>
        <div class="s-adv__item">
          <div class="num">6</div>
          <div class="val">проектов в разных направлениях Казани</div>
        </div>
      </div>
    </div>
  </div>
</section>