<section class="s-houses sect-m">
  <div class="tabs">
    <div class="s-head">
      <div class="container">
        <h2 class="s-title">Каталог проектов</h2>
        <div class="s-nav tabs-nav">
          <div data-tab-btn="tab-1" class="s-nav__btn _active">
            Проекты домов
          </div>
          <div data-tab-btn="tab-2" class="s-nav__btn">Готовые дома</div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="tabs-content">
        <div data-tab="tab-1" class="_active _show">
          <div class="slider-wrapper">
            <div class="slider-arrow _prev _dark">
              <svg>
                <use xlink:href="img/icons/icons.svg#icon-prev"></use>
              </svg>
            </div>
            <div class="slider-arrow _next _dark">
              <svg>
                <use xlink:href="img/icons/icons.svg#icon-next"></use>
              </svg>
            </div>
            <div class="swiper s-houses__slider">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <div class="card-product">
                    <div class="swiper card-product__gallery-slider">
                      <div class="slider-arrow _prev _dark">
                        <svg>
                          <use xlink:href="img/icons/icons.svg#icon-prev"></use>
                        </svg>
                      </div>
                      <div class="slider-arrow _next _dark">
                        <svg>
                          <use xlink:href="img/icons/icons.svg#icon-next"></use>
                        </svg>
                      </div>
                      <div class="swiper-wrapper">
                        <a
                          href="@img/card-product.jpg"
                          data-fancybox
                          class="swiper-slide card-product__gallery-slide"
                        >
                          <img src="@img/card-product.jpg" alt="image" />
                        </a>
                        <a
                          href="@img/card-product.jpg"
                          data-fancybox
                          class="swiper-slide card-product__gallery-slide"
                        >
                          <img src="@img/card-product.jpg" alt="image" />
                        </a>
                        <a
                          href="@img/card-product.jpg"
                          data-fancybox
                          class="swiper-slide card-product__gallery-slide"
                        >
                          <img src="@img/card-product.jpg" alt="image" />
                        </a>
                      </div>
                      <div class="slider-pagination _bg-primary"></div>
                    </div>
                    <h5 class="card-product__title">
                      Кирпичный дом «Тип 1» в «Усадьба в Мирном»
                    </h5>
                    <ul class="list card-product__list">
                      <li>
                        <span class="name">Площадь дома</span>
                        <span class="val">289 м2</span>
                      </li>
                      <li>
                        <span class="name">Этажность</span>
                        <span class="val">2</span>
                      </li>
                      <li>
                        <span class="name">Материал</span>
                        <span class="val">Кирпич</span>
                      </li>
                      <li>
                        <span class="name">Вид объекта</span>
                        <span class="val">Готовый</span>
                      </li>
                      <li>
                        <span class="name">Местоположение</span>
                        <span class="val">КП «Усадьба в Мирном»</span>
                      </li>
                    </ul>
                    <a href="#" class="btn-s card-product__btn">Подробнее</a>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="card-product">
                    <div class="swiper card-product__gallery-slider">
                      <div class="slider-arrow _prev _dark">
                        <svg>
                          <use xlink:href="img/icons/icons.svg#icon-prev"></use>
                        </svg>
                      </div>
                      <div class="slider-arrow _next _dark">
                        <svg>
                          <use xlink:href="img/icons/icons.svg#icon-next"></use>
                        </svg>
                      </div>
                      <div class="swiper-wrapper">
                        <a
                          href="@img/card-product.jpg"
                          data-fancybox
                          class="swiper-slide card-product__gallery-slide"
                        >
                          <img src="@img/card-product.jpg" alt="image" />
                        </a>
                        <a
                          href="@img/card-product.jpg"
                          data-fancybox
                          class="swiper-slide card-product__gallery-slide"
                        >
                          <img src="@img/card-product.jpg" alt="image" />
                        </a>
                        <a
                          href="@img/card-product.jpg"
                          data-fancybox
                          class="swiper-slide card-product__gallery-slide"
                        >
                          <img src="@img/card-product.jpg" alt="image" />
                        </a>
                      </div>
                      <div class="slider-pagination _bg-primary"></div>
                    </div>
                    <h5 class="card-product__title">
                      Кирпичный дом «Тип 5» в «Усадьба в Мирном»
                    </h5>
                    <ul class="list card-product__list">
                      <li>
                        <span class="name">Площадь дома</span>
                        <span class="val">289 м2</span>
                      </li>
                      <li>
                        <span class="name">Этажность</span>
                        <span class="val">2</span>
                      </li>
                      <li>
                        <span class="name">Материал</span>
                        <span class="val">Кирпич</span>
                      </li>
                      <li>
                        <span class="name">Вид объекта</span>
                        <span class="val">Готовый</span>
                      </li>
                      <li>
                        <span class="name">Местоположение</span>
                        <span class="val">КП «Усадьба в Мирном»</span>
                      </li>
                    </ul>
                    <a href="#" class="btn-s card-product__btn">Подробнее</a>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="card-product">
                    <div class="swiper card-product__gallery-slider">
                      <div class="slider-arrow _prev _dark">
                        <svg>
                          <use xlink:href="img/icons/icons.svg#icon-prev"></use>
                        </svg>
                      </div>
                      <div class="slider-arrow _next _dark">
                        <svg>
                          <use xlink:href="img/icons/icons.svg#icon-next"></use>
                        </svg>
                      </div>
                      <div class="swiper-wrapper">
                        <a
                          href="@img/card-product.jpg"
                          data-fancybox
                          class="swiper-slide card-product__gallery-slide"
                        >
                          <img src="@img/card-product.jpg" alt="image" />
                        </a>
                        <a
                          href="@img/card-product.jpg"
                          data-fancybox
                          class="swiper-slide card-product__gallery-slide"
                        >
                          <img src="@img/card-product.jpg" alt="image" />
                        </a>
                        <a
                          href="@img/card-product.jpg"
                          data-fancybox
                          class="swiper-slide card-product__gallery-slide"
                        >
                          <img src="@img/card-product.jpg" alt="image" />
                        </a>
                      </div>
                      <div class="slider-pagination _bg-primary"></div>
                    </div>
                    <h5 class="card-product__title">
                      Кирпичный дом «Тип 1» в «Усадьба в Мирном»
                    </h5>
                    <ul class="list card-product__list">
                      <li>
                        <span class="name">Площадь дома</span>
                        <span class="val">289 м2</span>
                      </li>
                      <li>
                        <span class="name">Этажность</span>
                        <span class="val">2</span>
                      </li>
                      <li>
                        <span class="name">Материал</span>
                        <span class="val">Кирпич</span>
                      </li>
                      <li>
                        <span class="name">Вид объекта</span>
                        <span class="val">Готовый</span>
                      </li>
                      <li>
                        <span class="name">Местоположение</span>
                        <span class="val">КП «Усадьба в Мирном»</span>
                      </li>
                    </ul>
                    <a href="#" class="btn-s card-product__btn">Подробнее</a>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="card-product">
                    <div class="swiper card-product__gallery-slider">
                      <div class="slider-arrow _prev _dark">
                        <svg>
                          <use xlink:href="img/icons/icons.svg#icon-prev"></use>
                        </svg>
                      </div>
                      <div class="slider-arrow _next _dark">
                        <svg>
                          <use xlink:href="img/icons/icons.svg#icon-next"></use>
                        </svg>
                      </div>
                      <div class="swiper-wrapper">
                        <a
                          href="@img/card-product.jpg"
                          data-fancybox
                          class="swiper-slide card-product__gallery-slide"
                        >
                          <img src="@img/card-product.jpg" alt="image" />
                        </a>
                        <a
                          href="@img/card-product.jpg"
                          data-fancybox
                          class="swiper-slide card-product__gallery-slide"
                        >
                          <img src="@img/card-product.jpg" alt="image" />
                        </a>
                        <a
                          href="@img/card-product.jpg"
                          data-fancybox
                          class="swiper-slide card-product__gallery-slide"
                        >
                          <img src="@img/card-product.jpg" alt="image" />
                        </a>
                      </div>
                      <div class="slider-pagination _bg-primary"></div>
                    </div>
                    <h5 class="card-product__title">
                      Кирпичный дом «Тип 5» в «Усадьба в Мирном»
                    </h5>
                    <ul class="list card-product__list">
                      <li>
                        <span class="name">Площадь дома</span>
                        <span class="val">289 м2</span>
                      </li>
                      <li>
                        <span class="name">Этажность</span>
                        <span class="val">2</span>
                      </li>
                      <li>
                        <span class="name">Материал</span>
                        <span class="val">Кирпич</span>
                      </li>
                      <li>
                        <span class="name">Вид объекта</span>
                        <span class="val">Готовый</span>
                      </li>
                      <li>
                        <span class="name">Местоположение</span>
                        <span class="val">КП «Усадьба в Мирном»</span>
                      </li>
                    </ul>
                    <a href="#" class="btn-s card-product__btn">Подробнее</a>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="card-product">
                    <div class="swiper card-product__gallery-slider">
                      <div class="slider-arrow _prev _dark">
                        <svg>
                          <use xlink:href="img/icons/icons.svg#icon-prev"></use>
                        </svg>
                      </div>
                      <div class="slider-arrow _next _dark">
                        <svg>
                          <use xlink:href="img/icons/icons.svg#icon-next"></use>
                        </svg>
                      </div>
                      <div class="swiper-wrapper">
                        <a
                          href="@img/card-product.jpg"
                          data-fancybox
                          class="swiper-slide card-product__gallery-slide"
                        >
                          <img src="@img/card-product.jpg" alt="image" />
                        </a>
                        <a
                          href="@img/card-product.jpg"
                          data-fancybox
                          class="swiper-slide card-product__gallery-slide"
                        >
                          <img src="@img/card-product.jpg" alt="image" />
                        </a>
                        <a
                          href="@img/card-product.jpg"
                          data-fancybox
                          class="swiper-slide card-product__gallery-slide"
                        >
                          <img src="@img/card-product.jpg" alt="image" />
                        </a>
                      </div>
                      <div class="slider-pagination _bg-primary"></div>
                    </div>
                    <h5 class="card-product__title">
                      Кирпичный дом «Тип 1» в «Усадьба в Мирном»
                    </h5>
                    <ul class="list card-product__list">
                      <li>
                        <span class="name">Площадь дома</span>
                        <span class="val">289 м2</span>
                      </li>
                      <li>
                        <span class="name">Этажность</span>
                        <span class="val">2</span>
                      </li>
                      <li>
                        <span class="name">Материал</span>
                        <span class="val">Кирпич</span>
                      </li>
                      <li>
                        <span class="name">Вид объекта</span>
                        <span class="val">Готовый</span>
                      </li>
                      <li>
                        <span class="name">Местоположение</span>
                        <span class="val">КП «Усадьба в Мирном»</span>
                      </li>
                    </ul>
                    <a href="#" class="btn-s card-product__btn">Подробнее</a>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="card-product">
                    <div class="swiper card-product__gallery-slider">
                      <div class="slider-arrow _prev _dark">
                        <svg>
                          <use xlink:href="img/icons/icons.svg#icon-prev"></use>
                        </svg>
                      </div>
                      <div class="slider-arrow _next _dark">
                        <svg>
                          <use xlink:href="img/icons/icons.svg#icon-next"></use>
                        </svg>
                      </div>
                      <div class="swiper-wrapper">
                        <a
                          href="@img/card-product.jpg"
                          data-fancybox
                          class="swiper-slide card-product__gallery-slide"
                        >
                          <img src="@img/card-product.jpg" alt="image" />
                        </a>
                        <a
                          href="@img/card-product.jpg"
                          data-fancybox
                          class="swiper-slide card-product__gallery-slide"
                        >
                          <img src="@img/card-product.jpg" alt="image" />
                        </a>
                        <a
                          href="@img/card-product.jpg"
                          data-fancybox
                          class="swiper-slide card-product__gallery-slide"
                        >
                          <img src="@img/card-product.jpg" alt="image" />
                        </a>
                      </div>
                      <div class="slider-pagination _bg-primary"></div>
                    </div>
                    <h5 class="card-product__title">
                      Кирпичный дом «Тип 5» в «Усадьба в Мирном»
                    </h5>
                    <ul class="list card-product__list">
                      <li>
                        <span class="name">Площадь дома</span>
                        <span class="val">289 м2</span>
                      </li>
                      <li>
                        <span class="name">Этажность</span>
                        <span class="val">2</span>
                      </li>
                      <li>
                        <span class="name">Материал</span>
                        <span class="val">Кирпич</span>
                      </li>
                      <li>
                        <span class="name">Вид объекта</span>
                        <span class="val">Готовый</span>
                      </li>
                      <li>
                        <span class="name">Местоположение</span>
                        <span class="val">КП «Усадьба в Мирном»</span>
                      </li>
                    </ul>
                    <a href="#" class="btn-s card-product__btn">Подробнее</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="slider-pagination _desk-hide"></div>
        </div>
        <div data-tab="tab-2">
          <div class="slider-wrapper">
            <div class="slider-arrow _prev _dark">
              <svg>
                <use xlink:href="img/icons/icons.svg#icon-prev"></use>
              </svg>
            </div>
            <div class="slider-arrow _next _dark">
              <svg>
                <use xlink:href="img/icons/icons.svg#icon-next"></use>
              </svg>
            </div>
            <div class="swiper s-houses__slider">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <div class="card-product">
                    <div class="swiper card-product__gallery-slider">
                      <div class="slider-arrow _prev _dark">
                        <svg>
                          <use xlink:href="img/icons/icons.svg#icon-prev"></use>
                        </svg>
                      </div>
                      <div class="slider-arrow _next _dark">
                        <svg>
                          <use xlink:href="img/icons/icons.svg#icon-next"></use>
                        </svg>
                      </div>
                      <div class="swiper-wrapper">
                        <a
                          href="@img/card-product.jpg"
                          data-fancybox
                          class="swiper-slide card-product__gallery-slide"
                        >
                          <img src="@img/card-product.jpg" alt="image" />
                        </a>
                        <a
                          href="@img/card-product.jpg"
                          data-fancybox
                          class="swiper-slide card-product__gallery-slide"
                        >
                          <img src="@img/card-product.jpg" alt="image" />
                        </a>
                        <a
                          href="@img/card-product.jpg"
                          data-fancybox
                          class="swiper-slide card-product__gallery-slide"
                        >
                          <img src="@img/card-product.jpg" alt="image" />
                        </a>
                      </div>
                      <div class="slider-pagination _bg-primary"></div>
                    </div>
                    <h5 class="card-product__title">
                      Кирпичный дом «Тип 1» в «Усадьба в Мирном»
                    </h5>
                    <ul class="list card-product__list">
                      <li>
                        <span class="name">Площадь дома</span>
                        <span class="val">289 м2</span>
                      </li>
                      <li>
                        <span class="name">Этажность</span>
                        <span class="val">2</span>
                      </li>
                      <li>
                        <span class="name">Материал</span>
                        <span class="val">Кирпич</span>
                      </li>
                      <li>
                        <span class="name">Вид объекта</span>
                        <span class="val">Готовый</span>
                      </li>
                      <li>
                        <span class="name">Местоположение</span>
                        <span class="val">КП «Усадьба в Мирном»</span>
                      </li>
                    </ul>
                    <a href="#" class="btn-s card-product__btn">Подробнее</a>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="card-product">
                    <div class="swiper card-product__gallery-slider">
                      <div class="slider-arrow _prev _dark">
                        <svg>
                          <use xlink:href="img/icons/icons.svg#icon-prev"></use>
                        </svg>
                      </div>
                      <div class="slider-arrow _next _dark">
                        <svg>
                          <use xlink:href="img/icons/icons.svg#icon-next"></use>
                        </svg>
                      </div>
                      <div class="swiper-wrapper">
                        <a
                          href="@img/card-product.jpg"
                          data-fancybox
                          class="swiper-slide card-product__gallery-slide"
                        >
                          <img src="@img/card-product.jpg" alt="image" />
                        </a>
                        <a
                          href="@img/card-product.jpg"
                          data-fancybox
                          class="swiper-slide card-product__gallery-slide"
                        >
                          <img src="@img/card-product.jpg" alt="image" />
                        </a>
                        <a
                          href="@img/card-product.jpg"
                          data-fancybox
                          class="swiper-slide card-product__gallery-slide"
                        >
                          <img src="@img/card-product.jpg" alt="image" />
                        </a>
                      </div>
                      <div class="slider-pagination _bg-primary"></div>
                    </div>
                    <h5 class="card-product__title">
                      Кирпичный дом «Тип 5» в «Усадьба в Мирном»
                    </h5>
                    <ul class="list card-product__list">
                      <li>
                        <span class="name">Площадь дома</span>
                        <span class="val">289 м2</span>
                      </li>
                      <li>
                        <span class="name">Этажность</span>
                        <span class="val">2</span>
                      </li>
                      <li>
                        <span class="name">Материал</span>
                        <span class="val">Кирпич</span>
                      </li>
                      <li>
                        <span class="name">Вид объекта</span>
                        <span class="val">Готовый</span>
                      </li>
                      <li>
                        <span class="name">Местоположение</span>
                        <span class="val">КП «Усадьба в Мирном»</span>
                      </li>
                    </ul>
                    <a href="#" class="btn-s card-product__btn">Подробнее</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="slider-pagination _desk-hide"></div>
        </div>
      </div>
      <a href="#" class="btn-s _outline-gray-l s-houses__btn-more">
        Смотреть все готовые дома
      </a>
    </div>
  </div>
</section>
