<section class="s-gallery sect-p _primary">
  <div class="container">
    <h2 class="s-title _mb">Внутренняя отделка дома</h2>
    <div class="slider-wrapper">
      <div class="slider-arrow _prev">
        <svg>
          <use xlink:href="img/icons/icons.svg#icon-prev"></use>
        </svg>
      </div>
      <div class="slider-arrow _next">
        <svg>
          <use xlink:href="img/icons/icons.svg#icon-next"></use>
        </svg>
      </div>
      <div class="swiper s-gallery__slider">
        <div class="swiper-wrapper">
          <a href="@img/gallery.jpg" data-fancybox="gallery-front-primary" class="swiper-slide s-gallery__slide">
            <img src="@img/gallery.jpg" alt="image">
          </a>
          <a href="@img/gallery.jpg" data-fancybox="gallery-front-primary" class="swiper-slide s-gallery__slide">
            <img src="@img/gallery.jpg" alt="image">
          </a>
          <a href="@img/gallery.jpg" data-fancybox="gallery-front-primary" class="swiper-slide s-gallery__slide">
            <img src="@img/gallery.jpg" alt="image">
          </a>
          <a href="@img/gallery.jpg" data-fancybox="gallery-front-primary" class="swiper-slide s-gallery__slide">
            <img src="@img/gallery.jpg" alt="image">
          </a>
          <a href="@img/gallery.jpg" data-fancybox="gallery-front-primary" class="swiper-slide s-gallery__slide">
            <img src="@img/gallery.jpg" alt="image">
          </a>
          <a href="@img/gallery.jpg" data-fancybox="gallery-front-primary" class="swiper-slide s-gallery__slide">
            <img src="@img/gallery.jpg" alt="image">
          </a>
          <a href="@img/gallery.jpg" data-fancybox="gallery-front-primary" class="swiper-slide s-gallery__slide">
            <img src="@img/gallery.jpg" alt="image">
          </a>
          <a href="@img/gallery.jpg" data-fancybox="gallery-front-primary" class="swiper-slide s-gallery__slide">
            <img src="@img/gallery.jpg" alt="image">
          </a>
          <a href="@img/gallery.jpg" data-fancybox="gallery-front-primary" class="swiper-slide s-gallery__slide">
            <img src="@img/gallery.jpg" alt="image">
          </a>
        </div>
      </div>
    </div>
    <div class="slider-pagination _desk-hide"></div>
  </div>
</section>