<section class="s-consult">
  <div class="s-consult__body">
    <picture class="s-consult__body-decor _left">
      <source srcset="@img/consult-decor-mob.png" media="(max-width: 480px)" />
      <img src="@img/consult-decor.png" alt="image" />
    </picture>
    <picture class="s-consult__body-decor _right">
      <source srcset="@img/consult-decor-mob.png" media="(max-width: 480px)" />
      <img src="@img/consult-decor.png" alt="image" />
    </picture>
    <div class="s-consult__container">
      <h2 class="s-title s-consult__title">Получите презентацию</h2>
      <p class="s-consult__content">
        Оставьте заявку и получите полную презентацию со всеми проектами
        компании!
      </p>
      <a
        href="#modal-feedback"
        data-btn-note="Получить консультацию"
        data-target-note="#input-feedback-note"
        data-fancybox
        class="btn-s s-consult__btn _primary"
      >
        Получить
      </a>
      <div class="s-consult__social">
        <div class="s-consult__social-text">
          Или напишите в один из наших мессенджеров:
        </div>
        <a
          href="#"
          target="_blank"
          rel="nofollow"
          class="s-consult__social-btn"
        >
          <svg>
            <use xlink:href="img/icons/icons.svg#icon-tg"></use>
          </svg>
        </a>
        <a
          href="#"
          target="_blank"
          rel="nofollow"
          class="s-consult__social-btn"
        >
          <svg>
            <use xlink:href="img/icons/icons.svg#icon-max"></use>
          </svg>
        </a>
      </div>
    </div>
  </div>
</section>
