<section class="sect-m s-objects">
  <div class="container">
    <h2 class="s-title _mb">Наши другие посёлки</h2>
    <div class="slider-wrapper">
      <div class="slider-arrow _prev _dark">
        <svg>
          <use xlink:href="img/icons/icons.svg#icon-prev"></use>
        </svg>
      </div>
      <div class="slider-arrow _next _dark">
        <svg>
          <use xlink:href="img/icons/icons.svg#icon-next"></use>
        </svg>
      </div>
      <div class="swiper s-objects__slider">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <a href="#" class="card-object">
              <div class="card-object__gallery">
                <h5 class="title">Объект в реализации</h5>
                <img src="@img/card-object.jpg" alt="image" />
              </div>
              <h3 class="card-object__title t-title">Усадьба в мирном</h3>
              <div class="btn-s _outline-gray card-object__btn">Подробнее</div>
            </a>
          </div>
          <div class="swiper-slide">
            <a href="#" class="card-object">
              <div class="card-object__gallery">
                <h5 class="title">Планируемый объект</h5>
                <img src="@img/card-object.jpg" alt="image" />
              </div>
              <h3 class="card-object__title t-title">Новая полянка</h3>
              <div class="btn-s _outline-gray card-object__btn">Подробнее</div>
            </a>
          </div>
          <div class="swiper-slide">
            <a href="#" class="card-object">
              <div class="card-object__gallery">
                <h5 class="title">Объект в реализации</h5>
                <img src="@img/card-object.jpg" alt="image" />
              </div>
              <h3 class="card-object__title t-title">Троицкий парк</h3>
              <div class="btn-s _outline-gray card-object__btn">Подробнее</div>
            </a>
          </div>
          <div class="swiper-slide">
            <a href="#" class="card-object">
              <div class="card-object__gallery">
                <h5 class="title">Планируемый объект</h5>
                <img src="@img/card-object.jpg" alt="image" />
              </div>
              <h3 class="card-object__title t-title">Троицкий парк</h3>
              <div class="btn-s _outline-gray card-object__btn">Подробнее</div>
            </a>
          </div>
          <div class="swiper-slide">
            <a href="#" class="card-object">
              <div class="card-object__gallery">
                <h5 class="title">Объект в реализации</h5>
                <img src="@img/card-object.jpg" alt="image" />
              </div>
              <h3 class="card-object__title t-title">Усадьба в мирном</h3>
              <div class="btn-s _outline-gray card-object__btn">Подробнее</div>
            </a>
          </div>
          <div class="swiper-slide">
            <a href="#" class="card-object">
              <div class="card-object__gallery">
                <h5 class="title">Планируемый объект</h5>
                <img src="@img/card-object.jpg" alt="image" />
              </div>
              <h3 class="card-object__title t-title">Новая полянка</h3>
              <div class="btn-s _outline-gray card-object__btn">Подробнее</div>
            </a>
          </div>
          <div class="swiper-slide">
            <a href="#" class="card-object">
              <div class="card-object__gallery">
                <h5 class="title">Объект в реализации</h5>
                <img src="@img/card-object.jpg" alt="image" />
              </div>
              <h3 class="card-object__title t-title">Троицкий парк</h3>
              <div class="btn-s _outline-gray card-object__btn">Подробнее</div>
            </a>
          </div>
          <div class="swiper-slide">
            <a href="#" class="card-object">
              <div class="card-object__gallery">
                <h5 class="title">Планируемый объект</h5>
                <img src="@img/card-object.jpg" alt="image" />
              </div>
              <h3 class="card-object__title t-title">Троицкий парк</h3>
              <div class="btn-s _outline-gray card-object__btn">Подробнее</div>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="slider-pagination _desk-hide _dark"></div>
  </div>
</section>
