@use "../base/templates" as *;
@use "../base/media" as *;

.burger {
  position: absolute;
  left: 0;
  right: 0;
  padding: 50px 0px;
  background-color: var(--primary);
  color: white;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  overflow-y: auto;
  z-index: 100;
  max-height: 100svh;

  opacity: 0;
  transform: translateY(-30px);
  visibility: hidden;

  transition:
    transform 0.4s ease,
    visibility 0.4s ease,
    opacity 0.4s ease;

  &._open {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }

  @include laptop-min {
    border-top: none;
  }
  @include tablet-min {
    height: 100svh;
  }

  &__wrapper {
    @include tablet-min {
      text-align: center;
    }
  }
  &__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 100px;
    row-gap: 40px;
    @include laptop {
      gap: 50px;
      row-gap: 30px;
    }
    @include laptop-min {
      gap: 30px;
    }
    @include tablet-min {
      grid-template-columns: 1fr;
    }
  }
  &__list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    @include laptop-min {
      gap: 15px;
    }

    a {
      transition: color 0.3s ease;
      @include hover {
        color: var(--biege);
      }
    }
  }
  &__contacts {
    display: grid;
    align-items: start;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin-top: 30px;
    @media (min-width: 992px) {
      display: none;
    }
    @include tablet-min {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
  &__contacts-item {
    .name {
      font-size: 12px;
      color: rgba(255, 255, 255, 0.5);
      margin-bottom: 10px;
    }
    a.val {
      transition: color .3s ease;
      @include hover {
        color: var(--biege);
      }
    }
  }
  &__contacts-btn {
    color: var(--biege);
    width: fit-content;

    transition: color .3s ease;
    @include hover {
      color: white;
    }
  }
}
