@use "../base/templates" as *;
@use "../base/media" as *;

.footer {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  background-color: var(--primary);
  color: white;
  &__row {
    &._head {
      @media (min-width: 1200px) {
        .footer__start,
        .footer__main {
          padding-top: 80px;
        }
      }
    }

    &:not(:last-child) {
      border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    }

    @include laptop-min {
      .container {
        padding: 0;
      }
    }
  }
  &__row-wrapper {
    display: flex;
    @include laptop-min {
      flex-wrap: wrap;
    }
    @include tablet-min {
      text-align: center;
    }
  }
  &__start {
    display: flex;
    flex-direction: column;
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    padding: 40px 40px 40px 0px;
    flex: 0 1 340px;
    @include laptop {
      padding: 30px 30px 30px 0px;
      flex-basis: 300px;
    }
    @include laptop-min {
      flex: auto;
      width: 100%;
      padding: 30px 10px;
      border-right: none;
      border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    }
  }
  &__logo {
    display: block;
    width: 165px;
    margin: auto 0;

    @include laptop-min {
      margin: 0 auto;
    }

    img {
      display: block;
      width: 100%;
    }
  }
  &__main {
    flex: 1;
    padding: 40px;
    @include laptop {
      padding: 30px;
    }
    @include laptop-min {
      padding: 30px 10px;
    }
  }
  &__contacts {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 35px;
    row-gap: 30px;
    @include laptop-middle {
      grid-template-columns: repeat(2, 1fr);
    }
    @include tablet {
      gap: 20px;
    }
    @include tablet-min {
      grid-template-columns: 1fr;
      align-items: center;

      .social-c {
        justify-content: center;
      }
    }
  }
  &__contacts-item {
    display: flex;
    flex-direction: column;
    gap: 4px;

    .name {
      font-size: 14px;
      color: rgba(255, 255, 255, 0.5);
      @include tablet {
        font-size: 12px;
      }
    }
    .tel {
      font-size: 24px;
      transition: color 0.3s ease;

      @include hover {
        color: var(--biege);
      }
      @include laptop {
        font-size: 20px;
      }
      @include tablet {
        font-size: 18px;
      }
    }
    a.val {
      transition: color 0.3s ease;

      @include hover {
        color: var(--biege);
      }
    }
  }
  &__list {
    display: flex;
    flex-direction: column;
    gap: 15px;

    font-size: 14px;
    color: rgba(255, 255, 255, 0.5);
    line-height: 110%;

    @include tablet {
      gap: 10px;
    }
    @include tablet-min {
      text-align: center;
    }

    a {
      transition: color 0.3s ease;
      @include hover {
        color: white;
      }
    }
  }
  &__nav {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    @include laptop-middle {
      gap: 30px;
      grid-template-columns: repeat(2, 1fr);
    }
    @include tablet-min {
      grid-template-columns: 1fr;
      text-align: center;
    }
  }
  &__nav-title {
    font-size: 14px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 30px;
    @include tablet {
      font-size: 12px;
      margin-bottom: 20px;
    }
  }
  &__nav-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    @include tablet {
      gap: 15px;
    }

    a {
      transition: color 0.3s ease;
      @include hover {
        color: var(--biege);
      }
    }
  }
  &__bottom-wrapper {
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: 30px;
    @include tablet-min {
      flex-direction: column;
      gap: 20px;
      align-items: center;
    }
  }
  &__bottom-content {
    font-size: 14px;
    line-height: 130%;
    color: rgba(255, 255, 255, 0.5);
    margin: 0;
    flex: 0 1 1070px;
    @include tablet-min {
      font-size: 12px;
      flex: auto;
    }
  }
  &__dev {
    display: flex;
    align-items: center;
    gap: 5px;
    opacity: 0.5;
    flex-shrink: 0;
    white-space: nowrap;

    transition: opacity .3s ease;
    @include hover {
      opacity: 1;
    }

    img{
      display: block;
      width: 60px;
      flex-shrink: 0;
    }
  }
}
