@use "../base/templates" as *;
@use "../base/media" as *;

.s-adv {
  &__body {
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    color: var(--biege);

    @include tablet-min {
      .container {
        padding: 0;
        text-align: center;
      }
    }
  }
  &__wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    @include laptop-middle {
      grid-template-columns: repeat(2, 1fr);
    }
    @include tablet-min {
      gap: 0;
      grid-template-columns: 1fr;
    }
  }
  &__item {
    padding-top: 40px;
    &:not(:last-child) {
      padding-right: 30px;
      border-right: 1px solid rgba(255, 255, 255, 0.2);
    }

    @include laptop-middle {
      padding-bottom: 20px;
      border-bottom: 1px solid rgba(255, 255, 255, 0.2);
      &:not(:last-child) {
        padding-right: 0;
        border-right: none;
      }
    }
    @include tablet-min {
      padding: 30px 10px;
    }

    .num {
      font-weight: 700;
      font-size: 66px;
      line-height: 100%;
      margin-bottom: 5px;
      @include laptop {
        font-size: 54px;
      }
      @include tablet {
        font-size: 48px;
      }
    }
    .val {
      color: rgba(255, 255, 255, 0.7);
    }
  }
}
