@use '../base/templates' as *;
@use '../base/media' as *;

.s-archive-object {
  &__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    @include laptop-middle {
      grid-template-columns: repeat(3, 1fr);
    }
    @include tablet {
      grid-template-columns: repeat(2, 1fr);
    }
    @include mobile {
      grid-template-columns: 1fr;
    }
  }
}