@use "../base/templates" as *;
@use "../base/media" as *;

.s-contacts {
  &__head {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 40px;
    @include laptop-middle {
      grid-template-columns: 1fr;
    }
    @include laptop-middle {
      margin-top: 30px;
      gap: 30px;
    }
    @include laptop-min {
      margin-bottom: 30px;
    }
    @include tablet-min {
      gap: 20px;
    }
  }
  &__head-wrapper {
    display: grid;
    gap: 30px;
    padding-top: 30px;

    @include laptop {
      gap: 20px;
    }
    @include laptop-middle {
      padding-top: 0;
    }
    @include tablet-min {
      grid-template-columns: 1fr !important;
    }

    &:first-child {
      border-right: 1px solid rgba(51, 51, 51, 0.2);
      padding-right: 30px;
      grid-template-columns: repeat(3, 1fr);
      @include laptop {
        padding-right: 20px;
      }
      @include laptop-middle {
        padding-right: 0;
        border: none;
      }
    }
    &:nth-child(2) {
      padding-left: 30px;
      grid-template-columns: repeat(2, 1fr);
      @include laptop {
        padding-left: 20px;
      }
      @include laptop-middle {
        padding-left: 0;
        grid-template-columns: repeat(3, 1fr);
      }
    }
  }
  &__head-item {
    .name {
      font-size: 14px;
      color: rgba(51, 51, 51, 0.5);
      margin-bottom: 10px;
      @include tablet-min {
        font-size: 12px;
        margin-bottom: 5px;
      }
    }
    .tel {
      font-size: 24px;
      line-height: 130%;

      transition: color 0.3s ease;
      @include hover {
        color: var(--biege);
      }
      @include desktop {
        font-size: 20px;
      }
      @include tablet {
        font-size: 18px;
      }
    }
  }
  &__map {
    width: 100%;
    height: 600px;
    background-color: var(--light);
    @include laptop-min {
      height: 500px;
    }
    @include tablet {
      height: 450px;
    }
  }
}
