@use "../base/templates" as *;
@use "../base/media" as *;

.s-connect {
  &__body {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    @include laptop-min {
      grid-template-columns: 1fr;
    }
  }
  &__form-wrapper {
    padding: 120px 30px;
    background-color: var(--primary);
    color: white;
    width: 100%;
    @include laptop-min {
      padding: 80px 10px;
    }
    @include tablet {
      padding: 50px 10px;
    }
  }
  &__form-container {
    max-width: 760px;
    width: 100%;
    margin: 0 auto;
  }
  &__title {
    margin-bottom: 10px;
  }
  &__content {
    color: rgba(255, 255, 255, 0.7);
    margin: 0px 0px 30px 0px;
  }
  &__form {
    margin-bottom: 30px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px
  }
  &__gallery {
    @include flex-center;
    position: relative;

    &::before {
      position: absolute;
      content: "";
      inset: 0;
      background: rgba(34, 54, 43, 0.5);
      z-index: 1;
    }

    .img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    .logo {
      position: absolute;
      pointer-events: none;
      width: 320px;
      z-index: 2;

      @include tablet {
        width: 240px;
      }
      @include tablet-min {
        width: 130px;
      }
    }
  }
  &__form-bottom {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;

    @include laptop {
      grid-template-columns: 1fr;
    }

    .check-wrapper {
      color: rgba(255, 255, 255, 0.7);
      @include laptop {
        order: 2;
      }
    }
  }
  &__form-submit {
    width: 100%;
    @include laptop {
      order: 1;
    }
  }
}
