@use "../base/templates" as *;
@use "../base/media" as *;

.s-hero {
  background-color: var(--primary);
  color: white;

  @media (min-width: 1366px) {
    & + .sect-p {
      padding-top: 0 !important;
    }
  }

  &__slider {
    display: flex;
    align-items: center;

    .slider-arrow {
      &._prev {
        left: 30px;
      }
      &._next {
        right: 30px;
      }
    }
  }
  &__slide {
    height: auto !important;
    min-height: 690px;
    z-index: 1;
    padding: 135px 0px 150px 0px;
    box-sizing: border-box;
    color: white;

    @include laptop-min {
      padding-top: 80px;
      padding-bottom: 110px;
      min-height: 590px;
    }
    @include tablet {
      padding-top: 40px;
    }

    &::before {
      position: absolute;
      content: "";
      inset: 0;
      background: rgba(0, 0, 0, 0.6);
      z-index: -1;
    }
  }
  &__slide-wrapper {
    @include flex-between;
    gap: 40px;
    row-gap: 50px;
    @include tablet {
      flex-wrap: wrap;
    }
  }
  &__slide-info {
    flex: 0 1 860px;
    @include tablet {
      flex: auto;
      width: 100%;
    }
  }
  &__slide-subtitle {
    text-transform: uppercase;
    margin-bottom: 20px;
  }
  &__slide-title {
    margin-bottom: 20px;
  }
  &__slide-content {
    margin: 0px 0px 40px 0px;
    @include tablet {
      margin-bottom: 20px;
    }
  }
  &__slide-btn {
    @include tablet-min {
      width: 100%;
    }
    &._offer {
      margin-top: 20px;
      @media (min-width: 768px) {
        display: none;
      }
    }
  }
  &__btn-play {
    margin: 0 auto;
    flex-shrink: 0;
  }
  &__form-wrapper {
    margin-right: 100px;
    width: 550px;
    max-width: 100%;
    background-color: var(--taupe);
    color: white;
    padding: 40px;
    flex-shrink: 0;

    @include desktop {
      margin-right: 0;
    }
    @include laptop {
      padding: 30px;
      width: 450px;
    }
    @include laptop-min {
      width: 400px;
      padding: 20px;
    }
    @include tablet {
      display: none;
    }
  }
  &__form-title {
    margin-bottom: 20px;
  }
  &__form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    @include tablet {
      gap: 15px;
    }

    .btn-s {
      width: 100%;
    }
  }

  .slider-pagination {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 130px;
    z-index: 10;

    @include laptop-min {
      bottom: 50px;
    }
  }
  &__adv {
    @include laptop {
      padding-top: 50px;
    }
  }
  &__adv-grid {
    position: relative;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    transform: translateY(-50%);
    z-index: 10;
    @include laptop {
      transform: translateY(0);
      grid-template-columns: repeat(3, 1fr);
    }
    @include tablet {
      grid-template-columns: repeat(2, 1fr);
      gap: 10px;
    }
    @include tablet-min {
      grid-template-columns: 1fr;
    }
  }
  &__adv-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
    background-color: var(--light);

    font-size: 20px;
    line-height: 90%;
    color: var(--black);

    transition: color 0.3s ease;

    @include hover {
      color: var(--biege);
    }
    @include laptop-min {
      font-size: 16px;
    }
    @include tablet {
      flex-direction: row;
      gap: 20px;
    }

    .icon {
      display: block;
      width: 100px;
      flex-shrink: 0;
      @include tablet {
        width: 60px;
      }
    }
    .val {
      display: flex;
      align-items: flex-end;
      gap: 20px;
      margin-top: auto;

      @include tablet {
        align-items: center;
        margin-top: 0;
        flex: 1;
      }

      span {
        flex: 1;
      }
      svg {
        flex-shrink: 0;
        width: 18px;
        height: 18px;
        color: var(--biege);
      }
    }
  }
}
