@use "../base/templates" as *;
@use "../base/media" as *;

.s-houses {
  @include laptop-min {
    overflow: hidden;
  }
  &__slider {
    width: 100%;
    @include laptop-min {
      overflow: visible !important;
    }

    .swiper-slide {
      height: auto !important;
      box-sizing: border-box;

      @include laptop-min {
        width: 400px !important;
        max-width: 100%;
      }
      @include tablet-min {
        width: 320px !important;
      }

      .card-product {
        height: 100%;
      }
    }
  }
  &__btn-more {
    width: 100%;
    margin-top: 40px;
    @include laptop-min {
      margin-top: 30px;
    }
  }
}
