@use "../base/templates" as *;
@use "../base/media" as *;

.s-intro {
  position: relative;
  color: white;
  min-height: 600px;
  padding-bottom: 50px;
  z-index: 1;

  @include laptop-middle {
    min-height: 500px;
  }

  &::before {
    position: absolute;
    content: "";
    inset: 0;
    background-color: rgba(51, 51, 51, 0.6);
    z-index: -1;
  }
  &__wrapper {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-top: 40px;
    @include laptop-min {
      flex-wrap: wrap;
    }
    @include tablet-min {
      margin-top: 0;
    }
  }
  &__main {
    flex: 0 1 860px;
    color: white;
    @include laptop-min {
      flex: auto;
      width: 100%;
    }
  }
  &__subtitle {
    text-transform: uppercase;
    margin-bottom: 20px;
  }
  &__title {
    margin-bottom: 20px;
  }
  &__content {
    margin: 0px 0px 40px 0px;
    @include tablet-min {
      margin-bottom: 30px;
    }
  }
  &__buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;

    @include tablet-min {
      gap: 15px;
      .btn-s {
        width: 100%;
      }
    }
  }
  &__btn-play {
    margin: 0 auto;
  }
  &__list {
    display: flex;
    flex-direction: column;
    gap: 20px;

    width: 545px;
    backdrop-filter: blur(5px);
    background: rgba(34, 54, 43, 0.7);
    padding: 20px;
    max-width: 100%;

    li {
      display: flex;
      align-items: center;
      gap: 15px;

      line-height: 110%;
      font-size: 22px;

      @include laptop-middle {
        font-size: 20px;
      }
      @include laptop-min {
        font-size: 18px
      }
      @include tablet {
        font-size: 16px;
      }

      svg {
        width: 20px;
        height: 20px;
        flex-shrink: 0;
        color: var(--biege);
      }
    }
  }
}
