@use '../base/templates' as *;
@use '../base/media' as *;

.s-location {
  &__body {
    position: relative;
    padding: 50px;
    min-height: 500px;
    @include laptop {
      padding: 30px;
    }
    @include laptop-min {
      min-height: auto;
      padding: 0;
    }
  }
  &__map {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: var(--primary);
    @include laptop-min {
      position: static;
      min-height: 400px;
      margin-bottom: 30px;
    }
  }
  &__nav {
    position: relative;
    width: 375px;
    max-width: 100%;
    padding: 30px;
    background-color: white;
    margin-left: auto;
    z-index: 10;
    @include laptop-min {
      background-color: transparent;
      width: 100%;
      padding: 0;
    }
  }
  &__nav-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 130%;
    margin: 0px 0px 30px 0px;
    @include laptop-min {
      font-size: 18px;
      margin-bottom: 20px;
    }
  }
  &__nav-buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  &__nav-btn {
    @include flex-center;
    cursor: pointer;
    width: 100%;
    padding: 20px;
    border: 1px solid rgba(51, 51, 51, 0.2);
    user-select: none;

    text-align: center;
    line-height: 100%;

    transition: color .3s ease, border-color .3s ease, background-color .3s ease;

    @include hover {
      border-color: var(--primary);
    }
    @include tablet {
      padding: 20px 16px;
      text-align: start;
      justify-content: start;
    }
    &._active {
      border-color: var(--primary);
      background-color: var(--primary);
      color: white;
      pointer-events: none;
    }
  }
}
