@use '../base/templates' as *;
@use '../base/media' as *;

.s-objects {
  overflow: hidden;
  &__slider {
    width: 100%;
    @include laptop-min {
      overflow: visible !important;
    }
    .swiper-slide {
      box-sizing: border-box;
      height: auto !important;

      @include laptop-min {
        width: 320px !important;
        max-width: 100%;
      }

      .card-object {
        height: 100%;
      }
    }
  }
}