@use "../base/templates" as *;
@use "../base/media" as *;

.s-purchase-methods {
  @include laptop-min {
    overflow: hidden;
  }
  &__slider {
    @include laptop-min {
      overflow: visible !important;
    }
  }
  &__slide {
    box-sizing: border-box;
    @include laptop-min {
      width: 400px !important;
      max-width: 100%;
    }
    @include tablet-min {
      width: 320px !important;
    }

    .icon {
      display: block;
      width: 100px;
      margin-bottom: 25px;
    }
    .title {
      font-weight: 700;
      font-size: 24px;
      margin: 0px 0px 15px 0px;
      @include laptop-middle {
        font-size: 20px;
      }
    }
    .text {
      margin: 0;
    }
  }
  &__content {
    font-size: 15px;
    color: rgba(51, 51, 51, 0.5);
    margin: 40px 0px 0px 0px;

    @include laptop-min {
      margin-top: 30px;
    }
    @include tablet {
      font-size: 14px;
    }
  }
}
