@use "../base/templates" as *;
@use "../base/media" as *;

.s-shop {
  &__filters-btn {
    @include tablet-min {
      width: 100%;
    }

    .circle {
      @include flex-center;
      border-radius: 50%;
      background-color: var(--biege);
      width: 24px;
      height: 24px;

      color: black;
      text-align: center;
    }
  }
  &__filters-overlay {
    position: fixed;
    inset: 0;
    background-color: var(--black);
    z-index: 110;

    opacity: 0;
    visibility: hidden;

    transition:
      opacity 0.4s ease,
      visibility 0.4s ease;

    &._active {
      opacity: 0.5;
      visibility: visible;
    }

    @media (min-width: 576px) {
      display: none;
    }
  }
  &__filters-wrapper {
    @include tablet-min {
      display: block !important;
    }
  }
  &__filters {
    display: grid;
    grid-template-columns: 545px 1fr;
    gap: 40px;
    padding-top: 20px;

    @include laptop {
      grid-template-columns: 1fr;
    }
    @include tablet-min {
      position: fixed;
      top: 0;
      left: 0;
      height: 100svh;
      background-color: white;
      width: 340px;
      max-width: 100%;
      margin-top: 0;
      padding: 20px;
      overflow-y: auto;
      gap: 20px;

      opacity: 0;
      visibility: hidden;
      transform: translateX(-100%);

      transition:
        opacity 0.4s ease,
        visibility 0.4s ease,
        transform 0.4s ease;
      z-index: 120;

      &._open {
        opacity: 1;
        visibility: visible;
        transform: translateX(0);
      }
    }
  }
  &__filters-close {
    width: 30px;
    height: 30px;
    margin-left: auto;

    transition: color 0.3s ease;
    @include hover {
      color: var(--biege);
    }
    @media (min-width: 576px) {
      display: none;
    }

    svg {
      width: 100%;
      height: 100%;
    }
  }
  &__filters-inputs {
    display: flex;
    flex-direction: column;
    gap: 25px;

    @include laptop {
      max-width: 600px;
      width: 100%;
    }
  }
  &__filters-checkbox {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    @include tablet {
      gap: 20px;
    }
    @include tablet-min {
      grid-template-columns: 1fr;
    }
  }
  &__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    row-gap: 45px;

    @include laptop {
      gap: 20px;
      row-gap: 25px;
    }
    @include laptop-min {
      grid-template-columns: repeat(2, 1fr);
    }
    @include tablet-min {
      grid-template-columns: 1fr;
      gap: 20px;
    }

    .card-product {
    }
  }
}
