@use '../base/templates' as *;
@use '../base/media' as *;

.s-vlog {
  @include laptop-min {
    overflow: hidden;
  }
  &__slider {
    width: 100%;
    @include laptop-min {
      overflow: visible !important;
    }
    .swiper-slide {
      height: auto !important;
      box-sizing: border-box;
      @include laptop-min {
        width: 560px !important;
        max-width: 100%;
      }
      @include tablet {
        width: 320px !important;
      }
    }
  }
}