@font-face {
	font-family: Muller;
	font-display: swap;
	src: url("../files/fonts/Muller-Bold.ttf") format("truetype");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: Muller;
	font-display: swap;
	src: url("../files/fonts/Muller.ttf") format("truetype");
	font-weight: 400;
	font-style: normal;
}