:root {
  --primary: #22362b;
  --primary-l: #2d4136;

  --biege: #bfa286;
  --taupe: #977a5e;
  --sand: #d7bca3;
  --black: #333;

  --light: #f4f0ee;
  --light-d: #f1f1f1;
  --gray-l: #f9f9f9;
  --nude: #f2ece7;
  --ghost: #f7f7f7;
}
