<footer class="footer">
  <div class="footer__row _head">
    <div class="container">
      <div class="footer__row-wrapper">
        <div class="footer__start">
          <a href="/" class="footer__logo">
            <img src="@img/logo.svg" alt="logo" />
          </a>
        </div>
        <div class="footer__main">
          <div class="footer__contacts">
            <div class="footer__contacts-item">
              <div class="name">Отдел продаж</div>
              <a href="tel:+79061111031" class="tel">+7 (906) 111-10-31</a>
              <a href="mailto:usadbamir@yandex.ru" class="val">
                usadbamir@yandex.ru
              </a>
            </div>
            <div class="social-c _biege">
              <a href="#" target="_blank" rel="nofollow" class="social-c-item">
                <svg>
                  <use xlink:href="img/icons/icons.svg#icon-tg"></use>
                </svg>
              </a>
              <a href="#" target="_blank" rel="nofollow" class="social-c-item">
                <svg>
                  <use xlink:href="img/icons/icons.svg#icon-max"></use>
                </svg>
              </a>
            </div>
            <div class="footer__contacts-item">
              <div class="name">График работы</div>
              <div class="val">Круглосуточно</div>
            </div>
            <div class="footer__contacts-item">
              <div class="name">Головной офис</div>
              <div class="val">Казань, ул. Галиаскара Камала, 4а</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer__row">
    <div class="container">
      <div class="footer__row-wrapper">
        <div class="footer__start">
          <ul class="list footer__list">
            <li>Застройщик ООО «Усадьба 131»</li>
            <li>ИНН 1655497096</li>
            <li>ОГРН 1231600040473</li>
            <li>© ООО «Усадьба 131», 2026</li>
          </ul>
        </div>
        <div class="footer__main">
          <div class="footer__nav">
            <div class="footer__nav-item">
              <div class="footer__nav-title">О компании</div>
              <ul class="list footer__nav-list">
                <li><a href="#">О нас</a></li>
                <li><a href="#">Проекты</a></li>
                <li><a href="#">Строительство</a></li>
                <li><a href="#">Реквизиты</a></li>
                <li><a href="#">Вакансии</a></li>
                <li><a href="#">Контакты</a></li>
              </ul>
            </div>
            <div class="footer__nav-item">
              <div class="footer__nav-title">Коттеджные посёлки</div>
              <ul class="list footer__nav-list">
                <li><a href="#">КП “Усадьба в Мирном”</a></li>
                <li><a href="#">КП “Новая полянка”</a></li>
                <li><a href="#">КК “Коттеджный комплекс”</a></li>
              </ul>
            </div>
            <div class="footer__nav-item">
              <div class="footer__nav-title">Готовые дома на продажу</div>
              <ul class="list footer__nav-list">
                <li>
                  <a href="#">Кирпичный дом “Тип 1” в “Усадьба в Мирном”</a>
                </li>
                <li>
                  <a href="#">Кирпичный дом “Тип 1” в “Усадьба в Мирном”</a>
                </li>
                <li>
                  <a href="#">Кирпичный дом “Тип 1” в “Усадьба в Мирном”</a>
                </li>
                <li>
                  <a href="#">Кирпичный дом “Тип 1” в “Усадьба в Мирном”</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer__row">
		<div class="container">
			<div class="footer__row-wrapper">
				<div class="footer__start">
					<ul class="list footer__list">
						<li><a href="#" target="_blank">Политика конфиденциальности</a></li>
						<li><a href="#" target="_blank">Согласие на обработку данных</a></li>
					</ul>
				</div>
				<div class="footer__main">
					<div class="footer__bottom-wrapper">
						<p class="footer__bottom-content">
							Информация, указанная на сайте, носит исключительно рекламный
							характер. Все представленные материалы, фотографии, планировки,
							проекты использованы с целью визуального представления о
							характеристиках недвижимого имущества и помещений. Не является
							публичной офертой, определяемой положениями ст. 437 ГК РФ.
						</p>
						<a href="https://qorix.ru/" target="_blank" class="footer__dev">
							<span>Разработка сайта —</span>
							<img src="@img/qorix.svg" alt="icon">
						</a>
					</div>
				</div>
			</div>
		</div>
  </div>
</footer>

<script src="./files/fancybox/fancybox.min.js"></script>
<script src="./files/swiper/swiper.min.js"></script>
<script src="./files/inputmask/inputmask.min.js"></script>
