<header class="header">
	<div class="header__inside">
		<div class="header__top">
			<div class="container header__inside-container">
				<div class="header__wrapper">
					<a href="/" class="header__logo">
						<img src="@img/logo.svg" alt="logo">
					</a>
					<div class="header__info">
						<div class="header__info-item">
							<div class="name">Головной офис</div>
							<span class="val">Казань, ул. Галиаскара Камала, 4а</span>
						</div>
						<div class="header__info-item">
							<div class="name">Отдел продаж</div>
							<a href="tel:+79061111031" class="val">+7 (906) 111-10-31</a>
						</div>
						<div class="social">
							<a href="#" target="_blank" rel="nofollow" class="social-item">
								<img src="@img/max.svg" alt="icon">
							</a>
							<a href="#" target="_blank" rel="nofollow" class="social-item">
								<img src="@img/tg.svg" alt="icon">
							</a>
						</div>
						<div class="social-s">
							<a href="tel:+79061111031" class="social-s-item">
								<svg>
									<use xlink:href='img/icons/icons.svg#icon-tel'></use>
								</svg>
							</a>
							<a href="#" target="_blank" rel="nofollow" class="social-s-item">
								<svg>
									<use xlink:href='img/icons/icons.svg#icon-max'></use>
								</svg>
							</a>
							<a href="#" target="_blank" rel="nofollow" class="social-s-item">
								<svg>
									<use xlink:href='img/icons/icons.svg#icon-tg'></use>
								</svg>
							</a>
						</div>
						<div class="header__burger-btn" id="burger-toggle">
							<span></span>
							<span></span>
							<span></span>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="header__bottom">
			<div class="container">
				<div class="header__bottom-wrapper">
					<ul class="list header__bottom-list">
						<li><a href="#">Готовые дома и проекты</a></li>
						<li><a href="#">Коттеджные комплексы</a></li>
						<li><a href="#">Специальные предложения</a></li>
					</ul>
					<div class="header__bottom-buttons">
						<a href="#modal-feedback" data-fancybox class="header__bottom-btn _outline">Заказать звонок</a>
						<a href="#" target="_blank" rel="nofollow" class="header__bottom-btn">Написать в Telegram</a>
					</div>
				</div>
			</div>
		</div>
		<div class="burger" id="burger">
			<div class="container">
				<div class="burger__wrapper">
					<nav class="burger__grid">
						<ul class="list burger__list">
							<li><a href="#">Главная</a></li>
							<li><a href="#">Готовые дома и проекты</a></li>
							<li><a href="#">Земельные участки</a></li>
							<li><a href="#">Коттеджные комплексы</a></li>
						</ul>
						<ul class="list burger__list">
							<li><a href="#">Специальные предложения</a></li>
							<li><a href="#">Строительство</a></li>
							<li><a href="#">Ипотека</a></li>
						</ul>
						<ul class="list burger__list">
							<li><a href="#">О компании</a></li>
							<li><a href="#">Вакансии</a></li>
							<li><a href="#">Контакты</a></li>
						</ul>
					</nav>
					<div class="burger__contacts">
						<div class="burger__contacts-item">
							<div class="name">Головной офис</div>
							<div class="val">Казань, ул. Галиаскара Камала, 4а</div>
						</div>
						<div class="burger__contacts-item">
							<div class="name">Отдел продаж</div>
							<a href="+79061111031" class="val">+7 (906) 111-10-31</a>
						</div>
						<a href="#modal-feedback" data-fancybox class="burger__contacts-btn">Заказать звонок</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>