<aside>
  <div class="modal" id="modal-feedback">
    <div class="modal__inside">
      <div class="modal__title">Заказать звонок</div>
      <p class="modal__content">
        Оставьте заявку и мы свяжемся с Вами в ближайшее время.
      </p>
      <form action="#" class="modal__form">
        <div class="input-control">
          <input type="text" placeholder="Ваше имя" class="input _outline" />
        </div>
        <div class="input-control">
          <input
            type="tel"
            placeholder="Укажите ваш номер телефона"
            class="input _outline"
          />
        </div>
        <div class="check-wrapper">
          <span class="wpcf7-form-control-wrap" data-name="acceptance-84">
            <span class="wpcf7-form-control wpcf7-acceptance">
              <span class="wpcf7-list-item">
                <label>
                  <input
                    type="checkbox"
                    name="acceptance-84"
                    value="1"
                    required
                    aria-invalid="false"
                  />
                  <span class="wpcf7-list-item-label">
                    <span>
                      Я&nbsp;соглашаюсь с
                      <a href="/personal-data" target="_blank">
                        Политикой обработки персональных данных
                      </a>
                      и
                      <a href="/privacy-policy" target="_blank">
                        Политикой конфиденциальности
                      </a>
                    </span>
                  </span>
                </label>
              </span>
            </span>
          </span>
        </div>
        <button class="btn-s" type="submit">Отправить</button>
      </form>
    </div>
  </div>
  <div class="modal" id="modal-offer">
    <div class="modal__inside">
      <div class="modal__title">Специальное предложение</div>
      <form action="#" class="modal__form">
        <div style="display: none;">
          <input type="text" id="input-offer-modal" />
        </div>
        <div class="input-control">
          <input type="text" placeholder="Имя" class="input _outline" />
        </div>
        <div class="input-control">
          <input type="tel" placeholder="Номер телефона" class="input _outline" />
        </div>
        <button type="submit" class="btn-s _primary">Отправить</button>
        <div class="check-wrapper">
          <span class="wpcf7-form-control-wrap" data-name="acceptance-84">
            <span class="wpcf7-form-control wpcf7-acceptance">
              <span class="wpcf7-list-item">
                <label>
                  <input
                    type="checkbox"
                    name="acceptance-84"
                    value="1"
                    required
                    aria-invalid="false"
                  />
                  <span class="wpcf7-list-item-label">
                    <span>
                      Я&nbsp;соглашаюсь с
                      <a href="/personal-data" target="_blank">
                        Политикой обработки персональных данных
                      </a>
                      и
                      <a href="/privacy-policy" target="_blank">
                        Политикой конфиденциальности
                      </a>
                    </span>
                  </span>
                </label>
              </span>
            </span>
          </span>
        </div>
      </form>
    </div>
  </div>
</aside>
