<section class="sect-m s-about">
  <div class="sect-head">
    <div class="container">
      <div class="sect-head__wrapper">
        <div class="sect-head__item">
          <div class="sect-head__subtitle">О коттеджном посёлке</div>
        </div>
        <div class="sect-head__item">
          <h2 class="s-title">Здесь рождаются теплые воспоминания</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="slider-wrapper">
      <div class="slider-arrow _prev _dark">
        <svg>
          <use xlink:href="img/icons/icons.svg#icon-prev"></use>
        </svg>
      </div>
      <div class="slider-arrow _next _dark">
        <svg>
          <use xlink:href="img/icons/icons.svg#icon-next"></use>
        </svg>
      </div>
      <div class="swiper s-about__slider">
        <div class="swiper-wrapper">
          <article class="swiper-slide s-about__slide">
            <h3 class="s-about__slide-title">Здесь чистый воздух</h3>
            <p class="s-about__slide-content">
              Вы забудете о суете мегаполиса, наслаждаясь свежим воздухом и
              красотой природы. А всего в двадцати минутах езды вас ждет
              оборудованный пляж на реке Волга, где можно провести приятные
              моменты с семьей и друзьями
            </p>
            <img
              src="@img/about-slide.jpg"
              alt="image"
              class="s-about__slide-img"
            />
          </article>
          <article class="swiper-slide s-about__slide">
            <h3 class="s-about__slide-title">Здесь важное - рядом</h3>
            <p class="s-about__slide-content">
              У нас вы найдете все необходимое для комфортной жизни: развитую
              готовую инфраструктуру поселка Мирный, включая магазины, школы и
              медицинские учреждения, и близость к удобным транспортным
              развязкам
            </p>
            <img
              src="@img/about-slide-2.jpg"
              alt="image"
              class="s-about__slide-img"
            />
          </article>
          <article class="swiper-slide s-about__slide">
            <h3 class="s-about__slide-title">Здесь интересно</h3>
            <p class="s-about__slide-content">
              Мы понимаем, как важно проводить время с близкими. Именно поэтому
              на территории поселка созданы современные зоны спорта и отдыха,
              которые становятся центром внутренней жизни поселка
            </p>
            <img
              src="@img/about-slide.jpg"
              alt="image"
              class="s-about__slide-img"
            />
          </article>
          <article class="swiper-slide s-about__slide">
            <h3 class="s-about__slide-title">Здесь чистый воздух</h3>
            <p class="s-about__slide-content">
              Вы забудете о суете мегаполиса, наслаждаясь свежим воздухом и
              красотой природы. А всего в двадцати минутах езды вас ждет
              оборудованный пляж на реке Волга, где можно провести приятные
              моменты с семьей и друзьями
            </p>
            <img
              src="@img/about-slide.jpg"
              alt="image"
              class="s-about__slide-img"
            />
          </article>
          <article class="swiper-slide s-about__slide">
            <h3 class="s-about__slide-title">Здесь важное - рядом</h3>
            <p class="s-about__slide-content">
              У нас вы найдете все необходимое для комфортной жизни: развитую
              готовую инфраструктуру поселка Мирный, включая магазины, школы и
              медицинские учреждения, и близость к удобным транспортным
              развязкам
            </p>
            <img
              src="@img/about-slide.jpg"
              alt="image"
              class="s-about__slide-img"
            />
          </article>
          <article class="swiper-slide s-about__slide">
            <h3 class="s-about__slide-title">Здесь интересно</h3>
            <p class="s-about__slide-content">
              Мы понимаем, как важно проводить время с близкими. Именно поэтому
              на территории поселка созданы современные зоны спорта и отдыха,
              которые становятся центром внутренней жизни поселка
            </p>
            <img
              src="@img/about-slide.jpg"
              alt="image"
              class="s-about__slide-img"
            />
          </article>
        </div>
      </div>
    </div>
    <div class="slider-pagination _desk-hide _dark"></div>
  </div>
</section>
