<section class="s-adv sect-p _primary">
  <div class="s-adv__body">
    <div class="container">
      <div class="s-adv__wrapper">
        <div class="s-adv__item">
          <div class="num">20</div>
          <div class="val">минут до центра Казани</div>
        </div>
        <div class="s-adv__item">
          <div class="num">36</div>
          <div class="val">домов с участками от 4 до 8,4 соток</div>
        </div>
        <div class="s-adv__item">
          <div class="num">7</div>
          <div class="val">проектов домов от 148 до 400 м²</div>
        </div>
        <div class="s-adv__item">
          <div class="num">1 500 м2</div>
          <div class="val">благоустроенной территории</div>
        </div>
      </div>
    </div>
  </div>
</section>