<section class="sect-m s-archive-object">
  <div class="s-head">
    <div class="container">
      <h1 class="m-title">Наши коттеджные посёлки и комплексы</h1>
      <div class="s-nav">
        <a href="#" class="s-nav__btn _active">
          Все коттеджные посёлки и комплексы
        </a>
        <a href="#" class="s-nav__btn">Объекты в реализации</a>
        <a href="#" class="s-nav__btn">Планируемые объекты</a>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="s-archive-object__grid">
      <a href="#" class="card-object">
        <div class="card-object__gallery">
          <h5 class="title">Усадьба в мирном</h5>
          <img src="@img/card-object-3.jpg" alt="image" />
        </div>
        <div class="btn-s _outline-gray card-object__btn">Подробнее</div>
      </a>
      <a href="#" class="card-object">
        <div class="card-object__gallery">
          <h5 class="title">Усадьба в мирном</h5>
          <img src="@img/card-object-3.jpg" alt="image" />
        </div>
        <div class="btn-s _outline-gray card-object__btn">Подробнее</div>
      </a>
      <a href="#" class="card-object">
        <div class="card-object__gallery">
          <h5 class="title">Усадьба в мирном</h5>
          <img src="@img/card-object-3.jpg" alt="image" />
        </div>
        <div class="btn-s _outline-gray card-object__btn">Подробнее</div>
      </a>
      <a href="#" class="card-object">
        <div class="card-object__gallery">
          <h5 class="title">Усадьба в мирном</h5>
          <img src="@img/card-object-3.jpg" alt="image" />
        </div>
        <div class="btn-s _outline-gray card-object__btn">Подробнее</div>
      </a>
    </div>
    <div class="btn-s loadmore-btn _ghost">Показать ещё</div>
  </div>
</section>
