<section class="s-connect sect-m">
  <div class="s-connect__body">
    <div class="s-connect__form-wrapper">
      <div class="s-connect__form-container">
        <h2 class="s-title s-connect__title">Оставьте заявку</h2>
        <p class="s-connect__content">
          Если у Вас есть вопросы или Вы хотите сделать заявку просто заполните
          контактную форму, и мы ответим вам в ближайшее время.
        </p>
        <form action="#" class="s-connect__form">
          <div class="input-control">
            <input type="text" placeholder="Ваше имя" class="input" />
          </div>
          <div class="input-variants">
            <div class="input-variants__title">Выберите удобный тип связи</div>
            <span class="wpcf7-form-control-wrap" data-name="radio-841">
              <span class="wpcf7-form-control wpcf7-radio">
                <span class="wpcf7-list-item first">
                  <label>
                    <input
                      type="radio"
                      name="radio-841"
                      value="Max"
                      checked="checked"
                    />
                    <span class="wpcf7-list-item-label">Max</span>
                  </label>
                </span>
                <span class="wpcf7-list-item first">
                  <label>
                    <input type="radio" name="radio-841" value="Telegram" />
                    <span class="wpcf7-list-item-label">Telegram</span>
                  </label>
                </span>
                <span class="wpcf7-list-item last">
                  <label>
                    <input type="radio" name="radio-841" value="Звонок" />
                    <span class="wpcf7-list-item-label">Звонок</span>
                  </label>
                </span>
              </span>
            </span>
          </div>
          <div class="input-control">
            <input
              type="tel"
              placeholder="Укажите ваш номер телефона"
              class="input"
            />
          </div>
          <div class="s-connect__form-bottom">
            <div class="check-wrapper _white">
              <span class="wpcf7-form-control-wrap" data-name="acceptance-84">
                <span class="wpcf7-form-control wpcf7-acceptance">
                  <span class="wpcf7-list-item">
                    <label>
                      <input
                        type="checkbox"
                        name="acceptance-84"
                        value="1"
                        required
                        aria-invalid="false"
                      />
                      <span class="wpcf7-list-item-label">
                        <span>
                          Я&nbsp;соглашаюсь с
                          <a href="/personal-data" target="_blank">
                            Политикой обработки персональных данных
                          </a>
                          и
                          <a href="/privacy-policy" target="_blank">
                            Политикой конфиденциальности
                          </a>
                        </span>
                      </span>
                    </label>
                  </span>
                </span>
              </span>
            </div>
            <button class="btn-s s-connect__form-submit">Отправить</button>
          </div>
        </form>
      </div>
    </div>
    <div class="s-connect__gallery">
      <img src="@img/connect.jpg" alt="image" class="img" />
      <img src="@img/logo-2.svg" alt="" class="logo" />
    </div>
  </div>
</section>
