<section class="s-contacts sect-m">
  <div class="sect-head _mb-off">
    <div class="container">
      <div class="sect-head__wrapper">
        <div class="sect-head__item">
          <div class="sect-head__subtitle">Контакты</div>
        </div>
        <div class="sect-head__item">
          <h2 class="s-title">Адрес офиса продаж</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="s-contacts__head">
      <div class="s-contacts__head-wrapper">
        <div class="s-contacts__head-item">
          <div class="name">Отдел продаж</div>
          <a href="tel:+79061111031" class="tel">+7 (906) 111-10-31</a>
        </div>
        <div class="social-c">
          <a href="#" target="_blank" rel="nofollow" class="social-c-item">
            <svg>
              <use xlink:href='img/icons/icons.svg#icon-tg'></use>
            </svg>
          </a>
          <a href="#" target="_blank" rel="nofollow" class="social-c-item">
            <svg>
              <use xlink:href='img/icons/icons.svg#icon-max'></use>
            </svg>
          </a>
        </div>
        <div class="s-contacts__head-item">
          <div class="name">Отдел продаж</div>
          <div class="val">Круглосуточно</div>
        </div>
      </div>
      <div class="s-contacts__head-wrapper">
        <div class="s-contacts__head-item">
          <div class="name">Головной офис</div>
          <div class="val">Казань, ул. Галиаскара Камала, 4а</div>
        </div>
        <a href="@img/card-object-2.jpg" data-fancybox class="btn-play _flex _o-min _nude">
          <div class="circle">
            <svg>
              <use xlink:href='img/icons/icons.svg#icon-play'></use>
            </svg>
          </div>
          <span>Видео <br> проезда</span>
        </a>
      </div>
    </div>
    <div class="map s-contacts__map" data-zoom="17" data-center="[55.786758568966896,49.11203749999995]" data-icon="@img/location-icon.svg"></div>
  </div>
</section>