<section class="s-developer sect-p _primary">
  <div class="container">
    <div class="s-developer__wrapper">
      <div class="s-developer__gallery">
        <img src="@img/developer.jpg" alt="image" />
      </div>
      <div class="s-developer__info">
        <h2 class="s-title s-developer__title">О застройщике</h2>
        <div class="content s-developer__content">
          <p>
            Приятно познакомиться! Мы – строительная компания «Усадьба 131», где
            слаженная работа сильной команды профессионалов является основой
            каждого нашего проекта. Мы активно применяем передовые технологии на
            всех этапах строительства, что позволяет нам не только повышать
            качество, но и сокращать сроки выполнения работ.
          </p>
          <p>
            Наша финансовая устойчивость гарантирует надежность и прозрачность
            сотрудничества, а наличие собственного строительного департамента
            обеспечивает контроль за каждым процессом и высокий уровень
            исполнения.
          </p>
          <p>
            Мы гордимся тем, что предоставляем нашим клиентам исключительный
            сервис на всех этапах – от консультаций до окончательной сдачи
            объекта. Наша служба клиентского сервиса всегда готова ответить на
            ваши вопросы и предложить индивидуальные решения, учитывающие все
            ваши пожелания.
          </p>
        </div>
        <div class="s-developer__buttons">
          <a href="@img/about-icon.svg" download class="btn-s _outline-white">
            <span>Свидетельство о регистрации</span>
            <svg>
              <use xlink:href='img/icons/icons.svg#icon-download'></use>
            </svg>
          </a>
          <a href="@img/about-icon.svg" download class="btn-s _outline-white">
            <span>Реквизиты</span>
            <svg>
              <use xlink:href='img/icons/icons.svg#icon-download'></use>
            </svg>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
