<section class="s-help">
  <div class="container">
    <div class="s-help__wrapper">
      <h2 class="s-title s-help__title">
        Получите помощь с оформлением ипотеки
      </h2>
      <form action="#" class="s-help__form">
        <div class="input-control">
          <input type="text" placeholder="Имя" class="input" />
        </div>
        <div class="input-control">
          <input type="tel" placeholder="Номер телефона" class="input" />
        </div>
        <button type="submit" class="btn-s _primary">Оставить заявку</button>
        <div class="check-wrapper _white">
          <span class="wpcf7-form-control-wrap" data-name="acceptance-84">
            <span class="wpcf7-form-control wpcf7-acceptance">
              <span class="wpcf7-list-item">
                <label>
                  <input
                    type="checkbox"
                    name="acceptance-84"
                    value="1"
                    required
                    aria-invalid="false"
                  />
                  <span class="wpcf7-list-item-label">
                    <span>
                      Я&nbsp;соглашаюсь с
                      <a href="/personal-data" target="_blank">
                        Политикой обработки персональных данных
                      </a>
                      и
                      <a href="/privacy-policy" target="_blank">
                        Политикой конфиденциальности
                      </a>
                    </span>
                  </span>
                </label>
              </span>
            </span>
          </span>
        </div>
      </form>
    </div>
  </div>
</section>
