<section class="s-hero">
  <div class="swiper s-hero__slider">
    <div class="slider-arrow _prev">
      <svg>
        <use xlink:href="img/icons/icons.svg#icon-prev"></use>
      </svg>
    </div>
    <div class="slider-arrow _next">
      <svg>
        <use xlink:href="img/icons/icons.svg#icon-next"></use>
      </svg>
    </div>
    <div class="swiper-wrapper">
      <div
        class="swiper-slide s-hero__slide"
        style="background: url(&quot;@img/hero.jpg&quot;) 0 0 / cover no-repeat"
      >
        <div class="container">
          <div class="s-hero__slide-wrapper">
            <div class="s-hero__slide-info">
              <h1 class="s-hero__slide-title m-title">
                Застройщик «Усадьба 131»
              </h1>
              <p class="s-hero__slide-content">
                Приятно познакомиться! Мы — строительная компания «Усадьба 131»,
                где слаженная работа сильной команды профессионалов является
                основой каждого нашего проекта. Мы активно применяем передовые
                технологии на всех этапах строительства, что позволяет нам
                не только повышать качество, но и сокращать сроки выполнения
                работ.
              </p>
              <a href="#" class="btn-s s-hero__slide-btn">
                Подробнее о посёлке
              </a>
            </div>
            <a
              href="@img/logo.svg"
              data-fancybox
              class="s-hero__btn-play btn-play"
            >
              <div class="circle">
                <svg>
                  <use xlink:href="img/icons/icons.svg#icon-play"></use>
                </svg>
              </div>
              <span class="val">Видео о посёлке</span>
            </a>
          </div>
        </div>
      </div>
      <div
        class="swiper-slide s-hero__slide"
        style="background: url(&quot;@img/hero.jpg&quot;) 0 0 / cover no-repeat"
      >
        <div class="container">
          <div class="s-hero__slide-wrapper">
            <div class="s-hero__slide-info">
              <div class="s-hero__slide-subtitle">Коттеджный посёлок бизнес-класса</div>
              <div class="s-hero__slide-title m-title">
                Коттеджный посёлок «Усадьба в Мирном»
              </div>
              <p class="s-hero__slide-content">
                В сердце поселка Мирный, всего в 20 минутах от центра Казани,
                расположена «Усадьба в Мирном», где мечты о комфортной и уютной
                жизни становятся реальностью. Здесь, среди зелёных лесных
                массивов, вы почувствуете себя по-настоящему дома.
              </p>
              <a href="#" class="btn-s s-hero__slide-btn">
                Подробнее о посёлке
              </a>
              <a
                href="#modal-offer"
                data-fancybox
                data-input-content="Коттеджный посёлок «Усадьба в Мирном»"
                data-input-target="#input-offer-modal"
                class="btn-s s-hero__slide-btn _offer"
              >
                Специальное предложение
              </a>
            </div>
            <div class="s-hero__form-wrapper">
              <h3 class="s-hero__form-title t-title">
                Специальное предложение
              </h3>
              <form action="#" class="s-hero__form">
                <div style="display: none">
                  <input
                    type="text"
                    value="Коттеджный посёлок «Усадьба в Мирном»"
                  />
                </div>
                <div class="input-control">
                  <input type="text" placeholder="Имя" class="input" />
                </div>
                <div class="input-control">
                  <input
                    type="tel"
                    placeholder="Номер телефона"
                    class="input"
                  />
                </div>
                <button type="submit" class="btn-s _primary">Отправить</button>
                <div class="check-wrapper _white">
                  <span
                    class="wpcf7-form-control-wrap"
                    data-name="acceptance-84"
                  >
                    <span class="wpcf7-form-control wpcf7-acceptance">
                      <span class="wpcf7-list-item">
                        <label>
                          <input
                            type="checkbox"
                            name="acceptance-84"
                            value="1"
                            required
                            aria-invalid="false"
                          />
                          <span class="wpcf7-list-item-label">
                            <span>
                              Я&nbsp;соглашаюсь с
                              <a href="/personal-data" target="_blank">
                                Политикой обработки персональных данных
                              </a>
                              и
                              <a href="/privacy-policy" target="_blank">
                                Политикой конфиденциальности
                              </a>
                            </span>
                          </span>
                        </label>
                      </span>
                    </span>
                  </span>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div
        class="swiper-slide s-hero__slide"
        style="background: url(&quot;@img/hero.jpg&quot;) 0 0 / cover no-repeat"
      >
        <div class="container">
          <div class="s-hero__slide-wrapper">
            <div class="s-hero__slide-info">
              <div class="s-hero__slide-title m-title">
                Застройщик «Усадьба 131»
              </div>
              <p class="s-hero__slide-content">
                Приятно познакомиться! Мы — строительная компания «Усадьба 131»,
                где слаженная работа сильной команды профессионалов является
                основой каждого нашего проекта. Мы активно применяем передовые
                технологии на всех этапах строительства, что позволяет нам
                не только повышать качество, но и сокращать сроки выполнения
                работ.
              </p>
              <a href="#" class="btn-s s-hero__slide-btn">
                Подробнее о посёлке
              </a>
            </div>
            <a
              href="@img/logo.svg"
              data-fancybox
              class="s-hero__btn-play btn-play"
            >
              <div class="circle">
                <svg>
                  <use xlink:href="img/icons/icons.svg#icon-play"></use>
                </svg>
              </div>
              <span class="val">Видео о посёлке</span>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="slider-pagination"></div>
  </div>
  <div class="s-hero__adv">
    <div class="container">
      <div class="s-hero__adv-grid">
        <a href="#" class="s-hero__adv-item">
          <img src="@img/hero-adv.svg" alt="icon" class="icon" />
          <div class="val">
            <span>Готовые дома и проекты</span>
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-arrow-next"></use>
            </svg>
          </div>
        </a>
        <a href="#" class="s-hero__adv-item">
          <img src="@img/hero-adv.svg" alt="icon" class="icon" />
          <div class="val">
            <span>Коттеджные комплексы</span>
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-arrow-next"></use>
            </svg>
          </div>
        </a>
        <a href="#" class="s-hero__adv-item">
          <img src="@img/hero-adv.svg" alt="icon" class="icon" />
          <div class="val">
            <span>Индивидуальное строительство</span>
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-arrow-next"></use>
            </svg>
          </div>
        </a>
        <a href="#" class="s-hero__adv-item">
          <img src="@img/hero-adv.svg" alt="icon" class="icon" />
          <div class="val">
            <span>Земельные участки</span>
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-arrow-next"></use>
            </svg>
          </div>
        </a>
        <a href="#" class="s-hero__adv-item">
          <img src="@img/hero-adv.svg" alt="icon" class="icon" />
          <div class="val">
            <span>Специальные предложения</span>
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-arrow-next"></use>
            </svg>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
