<section
  class="s-intro"
  style="
    background: url(&quot;@img/intro-plots.jpg&quot;) 0 0 / cover no-repeat;
  "
>
  <div class="breadcrumbs _white">
    <div class="container">
      <div class="aioseo-breadcrumbs">
        <span class="aioseo-breadcrumb">
          <a href="#" title="Главная">Главная</a>
        </span>
        <span class="aioseo-breadcrumb-separator">»</span>
        <span class="aioseo-breadcrumb">Земельные участки</span>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="s-intro__wrapper">
      <div class="s-intro__main">
        <h1 class="m-title s-intro__title">
          Купить земельный участок в Казани под строительство дома
        </h1>
        <ul class="list s-intro__list">
          <li>
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-check-circle"></use>
            </svg>
            <span>Все коммуникации: газ, электричество, дороги</span>
          </li>
          <li>
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-check-circle"></use>
            </svg>
            <span>Скидка 10% при полной оплате</span>
          </li>
          <li>
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-check-circle"></use>
            </svg>
            <span>Рассрочка от 1%</span>
          </li>
        </ul>
      </div>
      <a href="@img/logo.svg" data-fancybox class="btn-play s-intro__btn-play">
        <div class="circle">
          <svg>
            <use xlink:href="img/icons/icons.svg#icon-play"></use>
          </svg>
        </div>
        <span class="val">Видео с дрона</span>
      </a>
    </div>
  </div>
</section>
