<section
  class="s-intro"
  style="
    background: url(&quot;@img/intro-object.jpg&quot;) 0 0 / cover no-repeat;
  "
>
  <div class="breadcrumbs _white">
    <div class="container">
      <div class="aioseo-breadcrumbs">
        <span class="aioseo-breadcrumb">
          <a href="#" title="Главная">Главная</a>
        </span>
        <span class="aioseo-breadcrumb-separator">»</span>
        <span class="aioseo-breadcrumb">Строительство</span>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="s-intro__wrapper">
      <div class="s-intro__main">
        <h1 class="m-title s-intro__title">
          Строим современные загородные дома и помогаем с получением ипотеки
        </h1>
        <ul class="list s-intro__list">
          <li>
            <svg>
              <use xlink:href='img/icons/icons.svg#icon-check-circle'></use>
            </svg>
            <span>Цена не меняется в процессе строительства</span>
          </li>
          <li>
            <svg>
              <use xlink:href='img/icons/icons.svg#icon-check-circle'></use>
            </svg>
            <span>Сроки работы подтверждены договором</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
