<section
  class="s-intro"
  style="
    background: url(&quot;@img/intro-object.jpg&quot;) 0 0 / cover no-repeat;
  "
>
  <div class="breadcrumbs _white">
    <div class="container">
      <div class="aioseo-breadcrumbs">
        <span class="aioseo-breadcrumb">
          <a href="#" title="Главная">Главная</a>
        </span>
        <span class="aioseo-breadcrumb-separator">»</span>
        <span class="aioseo-breadcrumb">
          <a href="#" title="Наши коттеджные посёлки и комплексы">
            Наши коттеджные посёлки и комплексы
          </a>
        </span>
        <span class="aioseo-breadcrumb-separator">»</span>
        <span class="aioseo-breadcrumb">Усадьба в Мирном</span>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="s-intro__wrapper">
      <div class="s-intro__main">
        <div class="s-intro__subtitle">Коттеджный посёлок бизнес-класса</div>
        <h1 class="m-title s-intro__title">
          Коттеджный посёлок «Усадьба в Мирном»
        </h1>
        <p class="s-intro__content">
          В сердце поселка Мирный, всего в 20 минутах от центра Казани,
          расположена «Усадьба в Мирном», где мечты о комфортной и уютной жизни
          становятся реальностью. Здесь, среди зелёных лесных массивов,
          вы почувствуете себя по-настоящему дома.
        </p>
        <div class="s-intro__buttons">
          <a href="#modal-feedback" data-fancybox class="btn-s">
            Оставить заявку
          </a>
          <a href="#" target="_blank" class="btn-s _outline-white">Маршрут до комплекса</a>
        </div>
      </div>
      <a href="@img/logo.svg" data-fancybox class="btn-play s-intro__btn-play">
        <div class="circle">
          <svg>
            <use xlink:href="img/icons/icons.svg#icon-play"></use>
          </svg>
        </div>
        <span class="val">Видео с дрона</span>
      </a>
    </div>
  </div>
</section>
