<section
  class="s-intro"
  style="
    background: url(&quot;@img/intro-mortgage.jpg&quot;) 0 0 / cover no-repeat;
  "
>
  <div class="breadcrumbs _white">
    <div class="container">
      <div class="aioseo-breadcrumbs">
        <span class="aioseo-breadcrumb">
          <a href="#" title="Главная">Главная</a>
        </span>
        <span class="aioseo-breadcrumb-separator">»</span>
        <span class="aioseo-breadcrumb">Ипотека</span>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="s-intro__wrapper">
      <div class="s-intro__main">
        <h1 class="m-title s-intro__title">
          Поможем с получением ипотеки на строительство дома
        </h1>
        <ul class="list s-intro__list">
          <li>
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-check-circle"></use>
            </svg>
            <span>от 2,9% годовых и со скидкой на ставку до 0,6%</span>
          </li>
        </ul>
        <div class="s-intro__buttons">
          <a href="#modal-feedback" data-btn-note="Рассчет ипотеки" data-target-note="#input-modal-feedback" class="btn-s">Расчет ипотеки</a>
        </div>
      </div>
    </div>
  </div>
</section>
