<section class="s-layout sect-p _primary" id="s-layout">
  <div class="container">
    <h2 class="s-title _mb">Планировка дома</h2>
    <div class="s-layout__spec">
      <div class="s-layout__spec-item">
        <div class="name">Общая площадь</div>
        <div class="val">328 м2</div>
      </div>
      <div class="s-layout__spec-item">
        <div class="name">Полезная площадь</div>
        <div class="val">275 м2</div>
      </div>
      <div class="s-layout__spec-item">
        <div class="name">Площадь 1 этажа</div>
        <div class="val">189 м2</div>
      </div>
      <div class="s-layout__spec-item">
        <div class="name">Площадь 2 этажа</div>
        <div class="val">89 м2</div>
      </div>
      <div class="s-layout__spec-item">
        <div class="name">Площадь гаража</div>
        <div class="val">15 м2</div>
      </div>
      <div class="s-layout__spec-item">
        <div class="name">Площадь крыльца</div>
        <div class="val">1 м2</div>
      </div>
      <div class="s-layout__spec-item">
        <div class="name">Площадь террасы</div>
        <div class="val">3 м2</div>
      </div>
      <div class="s-layout__spec-item">
        <div class="name">Площадь балкона</div>
        <div class="val">5 м2</div>
      </div>
    </div>
    <div class="slider-wrapper">
      <div class="slider-arrow _prev">
        <svg>
          <use xlink:href="img/icons/icons.svg#icon-prev"></use>
        </svg>
      </div>
      <div class="slider-arrow _next">
        <svg>
          <use xlink:href="img/icons/icons.svg#icon-next"></use>
        </svg>
      </div>
      <div class="swiper s-layout__slider">
        <div class="swiper-wrapper">
          <a
            href="@img/product.jpg"
            data-fancybox="layout-gallery"
            class="swiper-slide s-layout__slide"
          >
            <img src="@img/product.jpg" alt="" />
          </a>
          <a
            href="@img/product.jpg"
            data-fancybox="layout-gallery"
            class="swiper-slide s-layout__slide"
          >
            <img src="@img/product.jpg" alt="" />
          </a>
          <a
            href="@img/product.jpg"
            data-fancybox="layout-gallery"
            class="swiper-slide s-layout__slide"
          >
            <img src="@img/product.jpg" alt="" />
          </a>
          <a
            href="@img/product.jpg"
            data-fancybox="layout-gallery"
            class="swiper-slide s-layout__slide"
          >
            <img src="@img/product.jpg" alt="" />
          </a>
          <a
            href="@img/product.jpg"
            data-fancybox="layout-gallery"
            class="swiper-slide s-layout__slide"
          >
            <img src="@img/product.jpg" alt="" />
          </a>
        </div>
      </div>
    </div>
    <div class="slider-pagination _desk-hide"></div>
  </div>
</section>
