<section class="s-location sect-m">
  <div class="container">
    <div class="sect-head">
      <div class="container">
        <div class="sect-head__wrapper">
          <div class="sect-head__subtitle">Карта поселков</div>
          <h2 class="s-title">Наши посёлки на карте</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="s-location__body">
      <div class="s-location__map" id="location-map" data-zoom="11" data-icon="@img/location-icon.svg"></div>
      <div class="s-location__nav">
        <div class="s-location__nav-title">Выберите район</div>
        <div class="s-location__nav-buttons">
          <div data-location-all-btn class="s-location__nav-btn _active">Все участки</div>
          <div data-location-btn="[55.78644913312961,49.19614000407574]" class="s-location__nav-btn">Усадьба в мирном</div>
          <div data-location-btn="[55.7800253076931,49.138054085649244]" class="s-location__nav-btn">Новая полянка</div>
          <div data-location-btn="[55.81390994572479,49.144641590989835]" class="s-location__nav-btn">Троицкий парк</div>
        </div>
      </div>
    </div>
  </div>
</section>