<section class="sect-p s-objects-sale _primary">
  <div class="tabs">
    <div class="s-head">
      <div class="container">
        <h2 class="s-title">Земельные участки на продажу</h2>
        <div class="s-nav tabs-nav">
          <div data-tab-btn="tab-1" class="s-nav__btn _active">
            КП «Новая полянка»
          </div>
          <div data-tab-btn="tab-2" class="s-nav__btn">
            КП «Усадьба в Мирном»
          </div>
          <div data-tab-btn="tab-3" class="s-nav__btn">
            КК «Коттеджный комплекс»
          </div>
        </div>
      </div>
    </div>
    <div class="container tabs-content">
      <div data-tab="tab-1" class="_active _show">
        <div class="s-objects-sale__gallery">
          <img
            src="@img/objects.jpg"
            alt="image"
          />
        </div>
      </div>
      <div data-tab="tab-2">
        <div class="s-objects-sale__gallery">
          <img
            src="@img/objects.jpg"
            alt="image"
          />
        </div>
      </div>
      <div data-tab="tab-3">
        <div class="s-objects-sale__gallery">
          <img
            src="@img/objects.jpg"
            alt="image"
          />
        </div>
      </div>
    </div>
  </div>
</section>
