<section class="sect-m s-objects">
  <div class="tabs">
    <div class="s-head">
      <div class="container">
        <h2 class="s-title">Наши коттеджные посёлки и комплексы</h2>
        <div class="s-nav tabs-nav">
          <div data-tab-btn="tab-1" class="s-nav__btn _active">
            Все коттеджные посёлки и комплексы
          </div>
          <div data-tab-btn="tab-2" class="s-nav__btn">
            Объекты в реализации
          </div>
          <div data-tab-btn="tab-3" class="s-nav__btn">Планируемые объекты</div>
        </div>
      </div>
    </div>
    <div class="tabs-content">
      <div data-tab="tab-1" class="_active _show">
        <div class="container">
          <div class="slider-wrapper">
            <div class="slider-arrow _prev _dark">
              <svg>
                <use xlink:href="img/icons/icons.svg#icon-prev"></use>
              </svg>
            </div>
            <div class="slider-arrow _next _dark">
              <svg>
                <use xlink:href="img/icons/icons.svg#icon-next"></use>
              </svg>
            </div>
            <div class="swiper s-objects__slider">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <a href="#" class="card-object">
                    <div class="card-object__gallery">
                      <h5 class="title">Усадьба в мирном</h5>
                      <img src="@img/card-object.jpg" alt="image" />
                    </div>
                    <div class="btn-s _outline-gray card-object__btn">
                      Подробнее
                    </div>
                  </a>
                </div>
                <div class="swiper-slide">
                  <a href="#" class="card-object">
                    <div class="card-object__gallery">
                      <h5 class="title">Новая полянка</h5>
                      <img src="@img/card-object.jpg" alt="image" />
                    </div>
                    <div class="btn-s _outline-gray card-object__btn">
                      Подробнее
                    </div>
                  </a>
                </div>
                <div class="swiper-slide">
                  <a href="#" class="card-object">
                    <div class="card-object__gallery">
                      <h5 class="title">Троицкий парк</h5>
                      <img src="@img/card-object.jpg" alt="image" />
                    </div>
                    <div class="btn-s _outline-gray card-object__btn">
                      Подробнее
                    </div>
                  </a>
                </div>
                <div class="swiper-slide">
                  <a href="#" class="card-object">
                    <div class="card-object__gallery">
                      <h5 class="title">Троицкий парк</h5>
                      <img src="@img/card-object.jpg" alt="image" />
                    </div>
                    <div class="btn-s _outline-gray card-object__btn">
                      Подробнее
                    </div>
                  </a>
                </div>
                <div class="swiper-slide">
                  <a href="#" class="card-object">
                    <div class="card-object__gallery">
                      <h5 class="title">Усадьба в мирном</h5>
                      <img src="@img/card-object.jpg" alt="image" />
                    </div>
                    <div class="btn-s _outline-gray card-object__btn">
                      Подробнее
                    </div>
                  </a>
                </div>
                <div class="swiper-slide">
                  <a href="#" class="card-object">
                    <div class="card-object__gallery">
                      <h5 class="title">Новая полянка</h5>
                      <img src="@img/card-object.jpg" alt="image" />
                    </div>
                    <div class="btn-s _outline-gray card-object__btn">
                      Подробнее
                    </div>
                  </a>
                </div>
                <div class="swiper-slide">
                  <a href="#" class="card-object">
                    <div class="card-object__gallery">
                      <h5 class="title">Троицкий парк</h5>
                      <img src="@img/card-object.jpg" alt="image" />
                    </div>
                    <div class="btn-s _outline-gray card-object__btn">
                      Подробнее
                    </div>
                  </a>
                </div>
                <div class="swiper-slide">
                  <a href="#" class="card-object">
                    <div class="card-object__gallery">
                      <h5 class="title">Троицкий парк</h5>
                      <img src="@img/card-object.jpg" alt="image" />
                    </div>
                    <div class="btn-s _outline-gray card-object__btn">
                      Подробнее
                    </div>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="slider-pagination _desk-hide _dark"></div>
        </div>
      </div>
      <div data-tab="tab-2">
        <div class="container">
          <div class="slider-wrapper">
            <div class="slider-arrow _prev _dark">
              <svg>
                <use xlink:href="img/icons/icons.svg#icon-prev"></use>
              </svg>
            </div>
            <div class="slider-arrow _next _dark">
              <svg>
                <use xlink:href="img/icons/icons.svg#icon-next"></use>
              </svg>
            </div>

            <div class="swiper s-objects__slider">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <a href="#" class="card-object">
                    <div class="card-object__gallery">
                      <h5 class="title">Усадьба в мирном</h5>
                      <img src="@img/card-object-2.jpg" alt="image" />
                    </div>
                    <div class="btn-s _outline-gray card-object__btn">
                      Подробнее
                    </div>
                  </a>
                </div>
                <div class="swiper-slide">
                  <a href="#" class="card-object">
                    <div class="card-object__gallery">
                      <h5 class="title">Новая полянка</h5>
                      <img src="@img/card-object-2.jpg" alt="image" />
                    </div>
                    <div class="btn-s _outline-gray card-object__btn">
                      Подробнее
                    </div>
                  </a>
                </div>
                <div class="swiper-slide">
                  <a href="#" class="card-object">
                    <div class="card-object__gallery">
                      <h5 class="title">Троицкий парк</h5>
                      <img src="@img/card-object-2.jpg" alt="image" />
                    </div>
                    <div class="btn-s _outline-gray card-object__btn">
                      Подробнее
                    </div>
                  </a>
                </div>
                <div class="swiper-slide">
                  <a href="#" class="card-object">
                    <div class="card-object__gallery">
                      <h5 class="title">Троицкий парк</h5>
                      <img src="@img/card-object-2.jpg" alt="image" />
                    </div>
                    <div class="btn-s _outline-gray card-object__btn">
                      Подробнее
                    </div>
                  </a>
                </div>
                <div class="swiper-slide">
                  <a href="#" class="card-object">
                    <div class="card-object__gallery">
                      <h5 class="title">Усадьба в мирном</h5>
                      <img src="@img/card-object-2.jpg" alt="image" />
                    </div>
                    <div class="btn-s _outline-gray card-object__btn">
                      Подробнее
                    </div>
                  </a>
                </div>
                <div class="swiper-slide">
                  <a href="#" class="card-object">
                    <div class="card-object__gallery">
                      <h5 class="title">Новая полянка</h5>
                      <img src="@img/card-object-2.jpg" alt="image" />
                    </div>
                    <div class="btn-s _outline-gray card-object__btn">
                      Подробнее
                    </div>
                  </a>
                </div>
                <div class="swiper-slide">
                  <a href="#" class="card-object">
                    <div class="card-object__gallery">
                      <h5 class="title">Троицкий парк</h5>
                      <img src="@img/card-object-2.jpg" alt="image" />
                    </div>
                    <div class="btn-s _outline-gray card-object__btn">
                      Подробнее
                    </div>
                  </a>
                </div>
                <div class="swiper-slide">
                  <a href="#" class="card-object">
                    <div class="card-object__gallery">
                      <h5 class="title">Троицкий парк</h5>
                      <img src="@img/card-object-2.jpg" alt="image" />
                    </div>
                    <div class="btn-s _outline-gray card-object__btn">
                      Подробнее
                    </div>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="slider-pagination _desk-hide _dark"></div>
        </div>
      </div>
      <div data-tab="tab-3">
        <div class="container">
          <div class="slider-wrapper">
            <div class="slider-arrow _prev _dark">
              <svg>
                <use xlink:href="img/icons/icons.svg#icon-prev"></use>
              </svg>
            </div>
            <div class="slider-arrow _next _dark">
              <svg>
                <use xlink:href="img/icons/icons.svg#icon-next"></use>
              </svg>
            </div>
            <div class="swiper s-objects__slider">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <a href="#" class="card-object">
                    <div class="card-object__gallery">
                      <h5 class="title">Усадьба в мирном</h5>
                      <img src="@img/card-object-3.jpg" alt="image" />
                    </div>
                    <div class="btn-s _outline-gray card-object__btn">
                      Подробнее
                    </div>
                  </a>
                </div>
                <div class="swiper-slide">
                  <a href="#" class="card-object">
                    <div class="card-object__gallery">
                      <h5 class="title">Новая полянка</h5>
                      <img src="@img/card-object-3.jpg" alt="image" />
                    </div>
                    <div class="btn-s _outline-gray card-object__btn">
                      Подробнее
                    </div>
                  </a>
                </div>
                <div class="swiper-slide">
                  <a href="#" class="card-object">
                    <div class="card-object__gallery">
                      <h5 class="title">Троицкий парк</h5>
                      <img src="@img/card-object-3.jpg" alt="image" />
                    </div>
                    <div class="btn-s _outline-gray card-object__btn">
                      Подробнее
                    </div>
                  </a>
                </div>
                <div class="swiper-slide">
                  <a href="#" class="card-object">
                    <div class="card-object__gallery">
                      <h5 class="title">Троицкий парк</h5>
                      <img src="@img/card-object-3.jpg" alt="image" />
                    </div>
                    <div class="btn-s _outline-gray card-object__btn">
                      Подробнее
                    </div>
                  </a>
                </div>
                <div class="swiper-slide">
                  <a href="#" class="card-object">
                    <div class="card-object__gallery">
                      <h5 class="title">Усадьба в мирном</h5>
                      <img src="@img/card-object-3.jpg" alt="image" />
                    </div>
                    <div class="btn-s _outline-gray card-object__btn">
                      Подробнее
                    </div>
                  </a>
                </div>
                <div class="swiper-slide">
                  <a href="#" class="card-object">
                    <div class="card-object__gallery">
                      <h5 class="title">Новая полянка</h5>
                      <img src="@img/card-object-3.jpg" alt="image" />
                    </div>
                    <div class="btn-s _outline-gray card-object__btn">
                      Подробнее
                    </div>
                  </a>
                </div>
                <div class="swiper-slide">
                  <a href="#" class="card-object">
                    <div class="card-object__gallery">
                      <h5 class="title">Троицкий парк</h5>
                      <img src="@img/card-object-3.jpg" alt="image" />
                    </div>
                    <div class="btn-s _outline-gray card-object__btn">
                      Подробнее
                    </div>
                  </a>
                </div>
                <div class="swiper-slide">
                  <a href="#" class="card-object">
                    <div class="card-object__gallery">
                      <h5 class="title">Троицкий парк</h5>
                      <img src="@img/card-object-3.jpg" alt="image" />
                    </div>
                    <div class="btn-s _outline-gray card-object__btn">
                      Подробнее
                    </div>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="slider-pagination _desk-hide _dark"></div>
        </div>
      </div>
    </div>
  </div>
</section>
