<section class="s-offer sect-p _primary">
  <div class="sect-head">
    <div class="container">
      <div class="sect-head__wrapper">
        <div class="sect-head__item">
          <div class="sect-head__subtitle">Акции</div>
        </div>
        <div class="sect-head__item">
          <h2 class="s-title">Специальные предложения</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="slider-wrapper">
      <div class="slider-arrow _prev">
        <svg>
          <use xlink:href="img/icons/icons.svg#icon-prev"></use>
        </svg>
      </div>
      <div class="slider-arrow _next">
        <svg>
          <use xlink:href="img/icons/icons.svg#icon-next"></use>
        </svg>
      </div>
      <div class="swiper s-offer__slider">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <a href="#" class="card-offer">
              <div class="card-offer__gallery">
                <div class="tag">Ипотека от застройщика</div>
                <img src="@img/card-object-3.jpg" alt="image" />
              </div>
              <h3 class="card-offer__title f-title">
                Ипотека от застройщика «Усадьба 131» на готовые дома в КП
                «Усадьба в Мирном»
              </h3>
              <div class="card-offer__date">01.10.2025 - 24.10.2025</div>
              <div class="btn-s _outline-gray-l card-offer__btn">
                Узнать больше
              </div>
            </a>
          </div>
          <div class="swiper-slide">
            <a href="#" class="card-offer">
              <div class="card-offer__gallery">
                <div class="tag">Семейная ипотека</div>
                <img src="@img/card-object-3.jpg" alt="image" />
              </div>
              <h3 class="card-offer__title f-title">
                Ипотека от застройщика «Усадьба 131» на
              </h3>
              <div class="card-offer__date">01.10.2025 - 24.10.2025</div>
              <div class="btn-s _outline-gray-l card-offer__btn">
                Узнать больше
              </div>
            </a>
          </div>
          <div class="swiper-slide">
            <a href="#" class="card-offer">
              <div class="card-offer__gallery">
                <div class="tag">Ипотека от застройщика</div>
                <img src="@img/card-object-3.jpg" alt="image" />
              </div>
              <h3 class="card-offer__title f-title">
                Ипотека от застройщика «Усадьба 131» на готовые дома в КП
                «Усадьба в Мирном»
              </h3>
              <div class="card-offer__date">01.10.2025 - 24.10.2025</div>
              <div class="btn-s _outline-gray-l card-offer__btn">
                Узнать больше
              </div>
            </a>
          </div>
          <div class="swiper-slide">
            <a href="#" class="card-offer">
              <div class="card-offer__gallery">
                <div class="tag">Семейная ипотека</div>
                <img src="@img/card-object-3.jpg" alt="image" />
              </div>
              <h3 class="card-offer__title f-title">
                Ипотека от застройщика «Усадьба 131» на
              </h3>
              <div class="card-offer__date">01.10.2025 - 24.10.2025</div>
              <div class="btn-s _outline-gray-l card-offer__btn">
                Узнать больше
              </div>
            </a>
          </div>
          <div class="swiper-slide">
            <a href="#" class="card-offer">
              <div class="card-offer__gallery">
                <div class="tag">Ипотека от застройщика</div>
                <img src="@img/card-object-3.jpg" alt="image" />
              </div>
              <h3 class="card-offer__title f-title">
                Ипотека от застройщика «Усадьба 131» на готовые дома в КП
                «Усадьба в Мирном»
              </h3>
              <div class="card-offer__date">01.10.2025 - 24.10.2025</div>
              <div class="btn-s _outline-gray-l card-offer__btn">
                Узнать больше
              </div>
            </a>
          </div>
          <div class="swiper-slide">
            <a href="#" class="card-offer">
              <div class="card-offer__gallery">
                <div class="tag">Семейная ипотека</div>
                <img src="@img/card-object-3.jpg" alt="image" />
              </div>
              <h3 class="card-offer__title f-title">
                Ипотека от застройщика «Усадьба 131» на
              </h3>
              <div class="card-offer__date">01.10.2025 - 24.10.2025</div>
              <div class="btn-s _outline-gray-l card-offer__btn">
                Узнать больше
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="slider-pagination _desk-hide"></div>
  </div>
</section>
