<section class="s-price sect-p _primary">
  <div class="container">
    <h2 class="s-title _mb">Сколько стоит построить загородный дом</h2>
    <div class="s-price__table-wrapper">
      <table class="s-price__table">
        <thead>
          <tr>
            <td>Вид дома</td>
            <td>Размер</td>
            <td>Стоимость за м2</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Проект «Тип 1»</td>
            <td>386 м2</td>
            <td>14 800 000 ₽</td>
          </tr>
          <tr>
            <td>Проект «Тип 1»</td>
            <td>386 м2</td>
            <td>14 800 000 ₽</td>
          </tr>
          <tr>
            <td>Проект «Тип 1»</td>
            <td>386 м2</td>
            <td>14 800 000 ₽</td>
          </tr>
          <tr>
            <td>Проект «Тип 1»</td>
            <td>386 м2</td>
            <td>14 800 000 ₽</td>
          </tr>
          <tr>
            <td>Проект «Тип 1»</td>
            <td>386 м2</td>
            <td>14 800 000 ₽</td>
          </tr>
          <tr>
            <td>Проект «Тип 1»</td>
            <td>386 м2</td>
            <td>14 800 000 ₽</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>