<section class="s-product sect-m">
  <div class="container">
    <h1 class="s-title _mb">Кирпичный дом “Тип 2”</h1>
    <div class="s-product__wrapper">
      <div class="s-product__spec">
        <div class="s-product__spec-item">
          <div class="name">Общая площадь</div>
          <div class="val">328 м2</div>
        </div>
        <div class="s-product__spec-item">
          <div class="name">Полезная площадь</div>
          <div class="val">275 м2</div>
        </div>
        <div class="s-product__spec-item">
          <div class="name">Этажность</div>
          <div class="val">2</div>
        </div>
        <div class="s-product__spec-item">
          <div class="name">Гараж</div>
          <div class="val">1</div>
        </div>
        <div class="s-product__spec-item">
          <div class="name">Кол-во спален</div>
          <div class="val">5</div>
        </div>
        <div class="s-product__spec-item">
          <div class="name">Кол-во санузлов</div>
          <div class="val">3</div>
        </div>
      </div>
      <div class="s-product__gallery">
        <div class="swiper s-product__slider">
          <div class="slider-arrow _prev _dark">
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-prev"></use>
            </svg>
          </div>
          <div class="slider-arrow _next _dark">
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-next"></use>
            </svg>
          </div>
          <div class="swiper-wrapper">
            <a
              href="@img/product.jpg"
              data-fancybox="product-gallery"
              class="swiper-slide s-product__slide"
            >
              <img src="@img/product.jpg" alt="image" />
            </a>
            <a
              href="@img/product.jpg"
              data-fancybox="product-gallery"
              class="swiper-slide s-product__slide"
            >
              <img src="@img/product.jpg" alt="image" />
            </a>
            <a
              href="@img/product.jpg"
              data-fancybox="product-gallery"
              class="swiper-slide s-product__slide"
            >
              <img src="@img/product.jpg" alt="image" />
            </a>
            <a
              href="@img/product.jpg"
              data-fancybox="product-gallery"
              class="swiper-slide s-product__slide"
            >
              <img src="@img/product.jpg" alt="image" />
            </a>
            <a
              href="@img/product.jpg"
              data-fancybox="product-gallery"
              class="swiper-slide s-product__slide"
            >
              <img src="@img/product.jpg" alt="image" />
            </a>
            <a
              href="@img/product.jpg"
              data-fancybox="product-gallery"
              class="swiper-slide s-product__slide"
            >
              <img src="@img/product.jpg" alt="image" />
            </a>
            <a
              href="@img/product.jpg"
              data-fancybox="product-gallery"
              class="swiper-slide s-product__slide"
            >
              <img src="@img/product.jpg" alt="image" />
            </a>
            <a
              href="@img/product.jpg"
              data-fancybox="product-gallery"
              class="swiper-slide s-product__slide"
            >
              <img src="@img/product.jpg" alt="image" />
            </a>
          </div>
        </div>
        <div class="swiper s-product__thumb-slider">
          <div class="swiper-wrapper">
            <div class="swiper-slide s-product__thumb-slide">
              <img src="@img/product.jpg" alt="image" />
            </div>
            <div class="swiper-slide s-product__thumb-slide">
              <img src="@img/product.jpg" alt="image" />
            </div>
            <div class="swiper-slide s-product__thumb-slide">
              <img src="@img/product.jpg" alt="image" />
            </div>
            <div class="swiper-slide s-product__thumb-slide">
              <img src="@img/product.jpg" alt="image" />
            </div>
            <div class="swiper-slide s-product__thumb-slide">
              <img src="@img/product.jpg" alt="image" />
            </div>
            <div class="swiper-slide s-product__thumb-slide">
              <img src="@img/product.jpg" alt="image" />
            </div>
            <div class="swiper-slide s-product__thumb-slide">
              <img src="@img/product.jpg" alt="image" />
            </div>
            <div class="swiper-slide s-product__thumb-slide">
              <img src="@img/product.jpg" alt="image" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="s-product__main">
    <div class="container">
      <div class="s-product__main-grid">
        <div class="s-product__main-col">
          <div class="s-product__main-buttons">
            <a href="#s-layout" class="btn-s _outline-gray">
              <svg>
                <use xlink:href="img/icons/icons.svg#icon-layout"></use>
              </svg>
              <span>Планировка дома</span>
            </a>
            <a href="#s-layout" class="btn-s _outline-gray">
              <svg>
                <use xlink:href="img/icons/icons.svg#icon-location"></use>
              </svg>
              <span>Местоположение на карте</span>
            </a>
          </div>
          <ul class="list s-product__main-list">
            <li>
              <div class="name">Вид объекта</div>
              <div class="val">Готовый</div>
            </li>
            <li>
              <div class="name">Материал стен</div>
              <div class="val">керамический блок Porotherm 510</div>
            </li>
            <li>
              <div class="name">Отделка стен</div>
              <div class="val">
                кирпич облицовочный 0,7 НФ, композитные панели, планкен,
                фасадная штукатурка
              </div>
            </li>
            <li>
              <div class="name">Коммуникации подземные</div>
              <div class="val">
                15 кВт, ввод в дом, газ, городское водоснабжение
              </div>
            </li>
          </ul>
        </div>
        <div class="s-product__main-col">
          <div class="s-product__col-head">
            <p class="s-product__col-content">
              В своём стремлении повысить качество жизни, они забывают, что
              постоянный количественный рост и сфера нашей активности создаёт
              предпосылки для распределения внутренних резервов и ресурсов
            </p>
            <a
              href="@img/about-slide.jpg"
              data-fancybox
              class="btn-play s-product__col-play _primary _flex"
            >
              <div class="circle">
                <svg>
                  <use xlink:href="img/icons/icons.svg#icon-play"></use>
                </svg>
              </div>
              <span>Видеообзор дома</span>
            </a>
          </div>
          <div class="s-product__price-row">
            <div class="s-product__price">
              <div></div>
              <span>
                <span class="woocommerce-Price-amount amount">
                  <bdi>
                    29 000 000
                    <span class="woocommerce-Price-currencySymbol">₽</span>
                  </bdi>
                </span>
              </span>
              <span class="_old">
                <span class="woocommerce-Price-amount amount">
                  <bdi>
                    31 000 000
                    <span class="woocommerce-Price-currencySymbol">₽</span>
                  </bdi>
                </span>
              </span>
              <div></div>
            </div>
            <a
              href="#modal-brone"
              data-btn-note="Кирпичный дом “Тип 2”"
              data-target-note="#input-brone-note"
              data-fancybox
              class="btn-s s-product__btn-submit"
            >
              Забронировать
            </a>
          </div>
          <div class="s-product__social">
            <span class="s-product__social-content">Вы можете задать вопросы в мессенджере</span>
            <div class="s-product__social-list">
              <a href="#" target="_blank" rel="nofollow" class="s-product__social-item">
                <svg>
                  <use xlink:href='img/icons/icons.svg#icon-tg'></use>
                </svg>
              </a>
              <a href="#" target="_blank" rel="nofollow" class="s-product__social-item">
                <svg>
                  <use xlink:href='img/icons/icons.svg#icon-max'></use>
                </svg>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
