<section class="s-purchase-methods sect-m">
  <div class="sect-head">
    <div class="container">
      <div class="sect-head__wrapper">
        <div class="sect-head__item _last">
          <div class="sect-head__subtitle">Как купить</div>
          <a
            href="#modal-feedback"
            data-fancybox
            class="btn-s sect-head__item-btn"
          >
            Оставить заявку
          </a>
        </div>
        <div class="sect-head__item">
          <h2 class="s-title">
            Для вашего удобства мы предлагаем различные способы покупки
          </h2>
          <p class="sect-head__content">
            Наш менеджер поможет вам подобрать наиболее комфортный вариант
            приобретения дома
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="slider-wrapper">
      <div class="slider-arrow _prev _dark">
        <svg>
          <use xlink:href="img/icons/icons.svg#icon-prev"></use>
        </svg>
      </div>
      <div class="slider-arrow _next _dark">
        <svg>
          <use xlink:href="img/icons/icons.svg#icon-next"></use>
        </svg>
      </div>
      <div class="swiper s-purchase-methods__slider">
        <div class="swiper-wrapper">
          <article class="swiper-slide s-purchase-methods__slide">
            <img src="@img/about-icon.svg" alt="icon" class="icon" />
            <h3 class="title">Ипотека</h3>
            <p class="text">
              В частности, повышение уровня гражданского сознания прекрасно
              подходит для реализации форм воздействия
            </p>
          </article>
          <article class="swiper-slide s-purchase-methods__slide">
            <img src="@img/about-icon.svg" alt="icon" class="icon" />
            <h3 class="title">Собственные денежные средства</h3>
            <p class="text">
              В частности, повышение уровня гражданского сознания
            </p>
          </article>
          <article class="swiper-slide s-purchase-methods__slide">
            <img src="@img/about-icon.svg" alt="icon" class="icon" />
            <h3 class="title">Рассрочка от застройщика</h3>
            <p class="text">
              Повышение уровня гражданского сознания прекрасно подходит для
              реализации форм воздействия
            </p>
          </article>
          <article class="swiper-slide s-purchase-methods__slide">
            <img src="@img/about-icon.svg" alt="icon" class="icon" />
            <h3 class="title">Лизинг</h3>
            <p class="text">
              В частности, повышение уровня гражданского сознания
            </p>
          </article>
          <article class="swiper-slide s-purchase-methods__slide">
            <img src="@img/about-icon.svg" alt="icon" class="icon" />
            <h3 class="title">Ипотека</h3>
            <p class="text">
              В частности, повышение уровня гражданского сознания прекрасно
              подходит для реализации форм воздействия
            </p>
          </article>
          <article class="swiper-slide s-purchase-methods__slide">
            <img src="@img/about-icon.svg" alt="icon" class="icon" />
            <h3 class="title">Собственные денежные средства</h3>
            <p class="text">
              В частности, повышение уровня гражданского сознания
            </p>
          </article>
          <article class="swiper-slide s-purchase-methods__slide">
            <img src="@img/about-icon.svg" alt="icon" class="icon" />
            <h3 class="title">Рассрочка от застройщика</h3>
            <p class="text">
              Повышение уровня гражданского сознания прекрасно подходит для
              реализации форм воздействия
            </p>
          </article>
          <article class="swiper-slide s-purchase-methods__slide">
            <img src="@img/about-icon.svg" alt="icon" class="icon" />
            <h3 class="title">Лизинг</h3>
            <p class="text">
              В частности, повышение уровня гражданского сознания
            </p>
          </article>
        </div>
      </div>
    </div>
    <div class="slider-pagination _desk-hide _dark"></div>
    <p class="s-purchase-methods__content">
      ООО «Усадьба 131» не является кредитной организацией и не выдает ипотечные
      кредиты и займы.
      <br />
      Изучить все условия кредита и ипотеки вы можете на сайтах соответствующих
      кредитных организации.
      <br />
      При получении ипотеки и кредитных средств, оценивайте свои финансовые
      возможности и риски.
    </p>
  </div>
</section>
