<section class="sect-m s-vlog">
  <div class="sect-head _contrary">
    <div class="container">
      <div class="sect-head__wrapper">
        <div class="sect-head__item">
          <div class="sect-head__subtitle">Наш влог</div>
          <a
            href="#"
            target="_blank"
            rel="nofollow"
            class="btn-s sect-head__btn"
          >
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-rt"></use>
            </svg>
            <span>Перейти на наш канал в RuTube</span>
          </a>
        </div>
        <div class="sect-head__item">
          <h2 class="s-title">Живём строительством и делимся с вами</h2>
          <p class="sect-head__content">
            Истории домов, планы будущих районов, советы по выбору жилья и
            закулисье стройки. Подписывайтесь на наш канал, чтобы почувствовать
            атмосферу и увидеть, как рождаются новые пространства для жизни
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="slider-wrapper">
      <div class="slider-arrow _prev _dark">
        <svg>
          <use xlink:href="img/icons/icons.svg#icon-prev"></use>
        </svg>
      </div>
      <div class="slider-arrow _next _dark">
        <svg>
          <use xlink:href="img/icons/icons.svg#icon-next"></use>
        </svg>
      </div>
      <div class="swiper s-vlog__slider">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <a href="@img/card-object-2.jpg" data-fancybox class="card-vlog">
              <div class="card-vlog__gallery">
                <div class="btn-play _min">
                  <div class="circle">
                    <svg>
                      <use xlink:href="img/icons/icons.svg#icon-play"></use>
                    </svg>
                  </div>
                </div>
                <img src="@img/card-vlog.jpg" alt="image" />
              </div>
              <h3 class="card-vlog__title f-title">
                Идеальный дом для семьи из 3-4 человек
              </h3>
              <div class="card-vlog__date">24.10.2025</div>
            </a>
          </div>
          <div class="swiper-slide">
            <a href="@img/card-object-2.jpg" data-fancybox class="card-vlog">
              <div class="card-vlog__gallery">
                <div class="btn-play _min">
                  <div class="circle">
                    <svg>
                      <use xlink:href="img/icons/icons.svg#icon-play"></use>
                    </svg>
                  </div>
                </div>
                <img src="@img/card-vlog.jpg" alt="image" />
              </div>
              <h3 class="card-vlog__title f-title">
                Чем частный дом лучше квартиры?
              </h3>
              <div class="card-vlog__date">12.10.2025</div>
            </a>
          </div>
          <div class="swiper-slide">
            <a href="@img/card-object-2.jpg" data-fancybox class="card-vlog">
              <div class="card-vlog__gallery">
                <div class="btn-play _min">
                  <div class="circle">
                    <svg>
                      <use xlink:href="img/icons/icons.svg#icon-play"></use>
                    </svg>
                  </div>
                </div>
                <img src="@img/card-vlog.jpg" alt="image" />
              </div>
              <h3 class="card-vlog__title f-title">
                Что такое коттеджный посёлок «Усадьба в Мирном»?
              </h3>
              <div class="card-vlog__date">08.10.2025</div>
            </a>
          </div>
          <div class="swiper-slide">
            <a href="@img/card-object-2.jpg" data-fancybox class="card-vlog">
              <div class="card-vlog__gallery">
                <div class="btn-play _min">
                  <div class="circle">
                    <svg>
                      <use xlink:href="img/icons/icons.svg#icon-play"></use>
                    </svg>
                  </div>
                </div>
                <img src="@img/card-vlog.jpg" alt="image" />
              </div>
              <h3 class="card-vlog__title f-title">
                Идеальный дом для семьи из 3-4 человек
              </h3>
              <div class="card-vlog__date">24.10.2025</div>
            </a>
          </div>
          <div class="swiper-slide">
            <a href="@img/card-object-2.jpg" data-fancybox class="card-vlog">
              <div class="card-vlog__gallery">
                <div class="btn-play _min">
                  <div class="circle">
                    <svg>
                      <use xlink:href="img/icons/icons.svg#icon-play"></use>
                    </svg>
                  </div>
                </div>
                <img src="@img/card-vlog.jpg" alt="image" />
              </div>
              <h3 class="card-vlog__title f-title">
                Чем частный дом лучше квартиры?
              </h3>
              <div class="card-vlog__date">12.10.2025</div>
            </a>
          </div>
          <div class="swiper-slide">
            <a href="@img/card-object-2.jpg" data-fancybox class="card-vlog">
              <div class="card-vlog__gallery">
                <div class="btn-play _min">
                  <div class="circle">
                    <svg>
                      <use xlink:href="img/icons/icons.svg#icon-play"></use>
                    </svg>
                  </div>
                </div>
                <img src="@img/card-vlog.jpg" alt="image" />
              </div>
              <h3 class="card-vlog__title f-title">
                Что такое коттеджный посёлок «Усадьба в Мирном»?
              </h3>
              <div class="card-vlog__date">08.10.2025</div>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="slider-pagination _desk-hide _dark"></div>
  </div>
</section>
