<section class="s-why sect-p _primary">
  <div class="sect-head _mb-off">
    <div class="container">
      <div class="sect-head__wrapper">
        <div class="sect-head__subtitle">Преимущества</div>
        <h2 class="s-title">Почему выбирают нас?</h2>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="slider-wrapper">
      <div class="slider-arrow _prev">
        <svg>
          <use xlink:href="img/icons/icons.svg#icon-prev"></use>
        </svg>
      </div>
      <div class="slider-arrow _next">
        <svg>
          <use xlink:href="img/icons/icons.svg#icon-next"></use>
        </svg>
      </div>
      <div class="swiper s-why__slider">
        <div class="swiper-wrapper">
          <article class="swiper-slide s-why__slide">
            <img src="@img/icon-why.svg" alt="icon" class="icon" />
            <h3 class="title">Фиксированные цены</h3>
            <p class="val">
              В частности, повышение уровня гражданского сознания прекрасно
              подходит для реализации форм воздействия.
            </p>
          </article>
          <article class="swiper-slide s-why__slide">
            <img src="@img/icon-why.svg" alt="icon" class="icon" />
            <h3 class="title">Подбор участка</h3>
            <p class="val">
              Приятно, граждане, наблюдать, как непосредственные участники
              технического прогресса разоблачены.
            </p>
          </article>
          <article class="swiper-slide s-why__slide">
            <img src="@img/icon-why.svg" alt="icon" class="icon" />
            <h3 class="title">Помощь с оформлением ипотеки</h3>
            <p class="val">
              Но явные признаки победы институционализации, инициированные
              исключительно синтетически, описаны максимально подробно.
            </p>
          </article>
          <article class="swiper-slide s-why__slide">
            <img src="@img/icon-why.svg" alt="icon" class="icon" />
            <h3 class="title">Фиксированные цены</h3>
            <p class="val">
              В частности, повышение уровня гражданского сознания прекрасно
              подходит для реализации форм воздействия.
            </p>
          </article>
          <article class="swiper-slide s-why__slide">
            <img src="@img/icon-why.svg" alt="icon" class="icon" />
            <h3 class="title">Фиксированные цены</h3>
            <p class="val">
              В частности, повышение уровня гражданского сознания прекрасно
              подходит для реализации форм воздействия.
            </p>
          </article>
          <article class="swiper-slide s-why__slide">
            <img src="@img/icon-why.svg" alt="icon" class="icon" />
            <h3 class="title">Подбор участка</h3>
            <p class="val">
              Приятно, граждане, наблюдать, как непосредственные участники
              технического прогресса разоблачены.
            </p>
          </article>
          <article class="swiper-slide s-why__slide">
            <img src="@img/icon-why.svg" alt="icon" class="icon" />
            <h3 class="title">Помощь с оформлением ипотеки</h3>
            <p class="val">
              Но явные признаки победы институционализации, инициированные
              исключительно синтетически, описаны максимально подробно.
            </p>
          </article>
          <article class="swiper-slide s-why__slide">
            <img src="@img/icon-why.svg" alt="icon" class="icon" />
            <h3 class="title">Фиксированные цены</h3>
            <p class="val">
              В частности, повышение уровня гражданского сознания прекрасно
              подходит для реализации форм воздействия.
            </p>
          </article>
        </div>
      </div>
    </div>
    <div class="slider-pagination _desk-hide"></div>
  </div>
</section>
