@use "../base/templates" as *;
@use "../base/media" as *;

.btn-s {
  --background: var(--biege);
  --border: var(--biege);
  --color: black;
  --background-h: var(--taupe);
  --border-h: var(--taupe);
  --color-h: black;

  @include flex-center;
  cursor: pointer;
  background-color: var(--background);
  border: 1px solid var(--border);
  border-radius: 0;
  padding: 18px 38px;
  width: fit-content;
  outline: none;
  gap: 15px;
  user-select: none;

  line-height: 110%;
  color: var(--color);
  text-align: center;

  transition:
    background-color 0.3s ease,
    border-color 0.3s ease,
    color 0.3s ease;

  @include hover {
    color: var(--color-h);
    background-color: var(--background-h);
    border-color: var(--border-h);
  }
  @include tablet {
    padding: 14px 28px;
  }

  &._primary {
    --background: var(--primary);
    --border: var(--primary);
    --color: white;
    --background-h: var(--primary-l);
    --border-h: var(--primary-l);
    --color-h: white;
  }
  &._outline-gray {
    --background: transparent;
    --border: rgba(51, 51, 51, 0.3);
    --color: var(--black);
    --background-h: transparent;
    --border-h: var(--primary);
    --color-h: var(--black);
  }
  &._outline-gray-l {
    --background: transparent;
    --border: rgba(255, 255, 255, 0.3);
    --color: white;
    --background-h: transparent;
    --border-h: var(--biege);
    --color-h: white;
  }
  &._ghost {
    --background: var(--ghost);
    --border: var(--ghost);
    --color: var(--black);
    --background-h: var(--primary-l);
    --border-h: var(--primary-l);
    --color-h: white;
  }
  &._outline-white {
    --background: transparent;
    --border: rgba(255, 255, 255, 0.3);
    --color: white;
    --background-h: white;
    --border-h: white;
    --color-h: var(--black);
  }

  svg {
    width: 32px;
    height: 32px;
  }
}

.loadmore-btn {
  width: 100%;
  margin-top: 40px;
  @include laptop-min {
    margin-top: 30px;
  }
}

.btn-play {
  --background: rgba(0, 0, 0, 0.5);
  --background-h: rgba(191, 162, 134, 0.3);
  --border: rgba(191, 162, 134, 0.3);
  --border-h: rgba(191, 162, 134, 0.3);
  --color-circle: var(--biege);
  --color-circle-h: var(--biege);

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  width: fit-content;
  flex-shrink: 0;

  line-height: 130%;
  text-align: center;

  @include hover {
    .circle {
      background-color: var(--background-h);
      border: 1px solid var(--border-h);
      color: var(--color-circle-h);
    }
  }

  &._flex {
    flex-direction: row;
    text-align: start;
    width: fit-content;
  }
  &._nude {
    --background: var(--nude);
    --background-h: var(--biege);
    --border: var(--nude);
    --border-h: var(--biege);
    --color-circle: var(--primary);
    --color-circle-h: var(--primary);
  }
  &._primary {
    --background: var(--primary);
    --background-h: var(--biege);
    --border: var(--primary);
    --border-h: var(--biege);
    --color-circle: var(--biege);
    --color-circle-h: var(--primary);
  }

  .circle {
    @include flex-center;
    border-radius: 50%;
    background-color: var(--background);
    border: 1px solid var(--border);
    backdrop-filter: blur(5px);

    width: 135px;
    height: 135px;

    color: var(--color-circle);

    transition:
      color 0.3s ease,
      border-color 0.3s ease,
      background-color 0.3s ease;

    @include tablet {
      width: 100px;
      height: 100px;
    }

    svg {
      width: 35px;
      height: 35px;
      @include tablet {
        width: 30px;
        height: 30px;
      }
    }
  }

  &._min {
    .circle {
      border: none;
      width: 100px;
      height: 100px;

      @include tablet {
        width: 80px;
        height: 80px;
      }

      svg {
        width: 30px;
        height: 30px;
      }
    }
  }
  &._o-min {
    .circle {
      width: 60px;
      height: 60px;

      @include tablet-min {
        width: 40px;
        height: 40px;
      }

      svg {
        width: 24px;
        height: 24px;
        @include tablet-min {
          width: 18px;
          height: 18px;
        }
      }
    }
  }
}
