@use '../base/templates' as *;
@use '../base/media' as *;

.card-offer {
  display: flex;
  flex-direction: column;
  &__gallery {
    position: relative;
    width: 100%;
    aspect-ratio: 1/1;
    overflow: hidden;
    margin-bottom: 20px;

    @include hover {
      img {
        transform: scale(1.08);
      }
    }
    @include laptop-min {
      margin-bottom: 15px;
    }

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;

      transition: transform 0.3s linear;
    }
    .tag {
      position: absolute;
      width: fit-content;
      padding: 15px 30px;
      background-color: var(--biege);
      left: 0;
      top: 40px;

      font-weight: 400;
      font-size: 20px;
      margin: 0;
      color: var(--black);

      z-index: 10;

      @include laptop {
        font-size: 18px;
        padding: 15px 20px;
      }
      @include tablet {
        font-size: 16px;
        padding: 10px 20px;
        top: 20px;
      }
    }
  }
  &__title {
    margin-bottom: 20px;

    transition: color .3s ease;
    @include hover {
      color: var(--biege);
    }
    @include tablet {
      margin-bottom: 15px;
    }
  }
  &__date {
    opacity: 0.5;
    margin-top: auto;
    margin-bottom: 20px;
    @include tablet {
      margin-bottom: 15px;
    }
  }
  &__btn {
    width: 100%;
    @include tablet {
      margin-top: 15px;
    }
  }
}