@use '../base/templates' as *;
@use '../base/media' as *;

.filters {
  .bapf_head {
    margin-bottom: 15px;
    h3 {
      margin: 0;
      font-weight: 400;
      font-size: 17px;
      line-height: 100%;
      text-transform: uppercase;
      opacity: 0.5;

      @include laptop-middle {
        font-size: 16px;
      }
      @include tablet-min {
        font-size: 14px;
      }
    }
  }
  .bapf_slidr_all {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
    @include tablet-min {
      grid-template-columns: 1fr;
    }

    .bapf_tbprice {
      display: none;
    }
    .bapf_slidr_main {
      display: none;
    }
    .bapf_from,
    .bapf_to {
      position: relative;
      display: flex;
      align-items: center;

      &::before {
        position: absolute;
        left: 15px;
        opacity: 0.5;
      }
    }
    .bapf_from {
      &::before {
        content: "От";
      }
    }
    .bapf_to {
      &::before {
        content: "До";
      }
    }
    input {
      width: 100%;
      font-size: 17px;
      line-height: 100%;
      padding: 14px 15px 14px 45px;
      border: 1px solid var(--black);
      outline: none;

      transition: border-color 0.3s ease;

      &:focus {
        border-color: var(--biege);
      }
    }
  }
  .bapf_ckbox {
    ul {
      padding: 0;
      margin: 0;
      list-style: none;
      display: flex;
      flex-direction: column;
      gap: 15px;
    }
    input[type="checkbox"] {
      display: none;

      &:checked + label {
        &::before {
          background: url("@img/check-white.svg") center / 15px auto no-repeat;
          border-color: var(--biege);
          background-color: var(--biege);
        }
      }
    }
    label {
      display: flex;
      align-items: center;
      width: fit-content;
      gap: 10px;
      cursor: pointer;

      user-select: none;

      &::before {
        display: block;
        content: "";
        width: 22px;
        height: 22px;
        border: 1px solid rgba(51, 51, 51, 0.2);

        transition:
          border-color 0.3s ease,
          background-color 0.3s ease;
      }
    }
  }
}
