@use "../base/templates" as *;
@use "../base/media" as *;

.sect-m {
  margin: 120px 0px;
  @include laptop {
    margin: 100px 0px;
  }
  @include laptop-min {
    margin: 80px 0px;
  }
  @include tablet {
    margin: 65px 0px;
  }
  @include tablet-min {
    margin: 50px 0px;
  }
}
.sect-p {
  padding: 120px 0px;
  @include laptop {
    padding: 100px 0px;
  }
  @include laptop-min {
    padding: 80px 0px;
  }
  @include tablet {
    padding: 65px 0px;
  }
  @include tablet-min {
    padding: 50px 0px;
  }

  &._primary {
    color: white;
    background-color: var(--primary);

    & + .sect-p._primary {
      padding-top: 0 !important;
    }

    .s-head {
      border-color: rgba(255, 255, 255, 0.2);
    }
    .sect-head {
      border-color: rgba(255, 255, 255, 0.2);
      &__item {
        border-color: rgba(255, 255, 255, 0.2);
      }
    }
  }
}

.sect-head {
  border-bottom: 1px solid rgba(51, 51, 51, 0.2);
  margin-bottom: 40px;

  @include tablet {
    margin-bottom: 30px;
  }
  @include tablet-min {
    border: none;
  }

  &._mb-off {
    margin-bottom: 0;
  }
  &._contrary {
    @include tablet {
      .sect-head__item {
        margin: 30px 0px 0px 0px;
        &:first-child {
          order: 2;
        }
      }
    }
  }

  &__wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    @include laptop-min {
      grid-template-columns: 1fr;
      padding-bottom: 20px;
    }
    @include tablet-min {
      padding-bottom: 0;
    }
  }
  &__item {
    &:first-child {
      padding-right: 40px;
      border-right: 1px solid rgba(51, 51, 51, 0.2);
      @include laptop-min {
        padding: 0;
        border: none;
        margin-bottom: 20px;
      }
    }
    &:nth-child(2) {
      padding-left: 40px;
      padding-bottom: 30px;
      @include laptop-min {
        padding: 0;
      }
    }
  }
  &__subtitle {
    @include tablet-min {
      display: none;
    }
  }
  &__btn {
    padding: 11px 28px;
    margin-top: 35px;
    @include laptop-min {
      margin-top: 15px;
    }
    @include tablet {
      margin-top: 0;
    }
    @include tablet-min {
      width: 100%;
    }
  }
  &__content {
    margin: 10px 0px 0px 0px;
  }
}

.s-head {
  margin-bottom: 40px;
  border-bottom: 1px solid rgba(51, 51, 51, 0.2);
  @include laptop-min {
    margin-bottom: 30px;
  }

  &._border-off {
    border: none;
  }

  .s-nav {
    margin-top: 40px;
    @include laptop-min {
      margin-top: 30px;
    }
  }
}
.s-nav {
  display: flex;
  gap: 40px;
  overflow-x: auto;
  margin: 0 -15px;
  padding: 0 15px;

  @include tablet {
    margin: 0 -10px;
    padding: 0 10px;
    gap: 20px;
  }

  &__btn {
    position: relative;
    cursor: pointer;
    user-select: none;
    padding-bottom: 20px;
    white-space: nowrap;

    transition: color 0.3s ease;

    @include tablet {
      padding-bottom: 10px;
    }

    &._active {
      color: var(--biege);
      &::before {
        right: 0;
      }
    }

    @include hover {
      color: var(--biege);
    }

    &::before {
      position: absolute;
      content: "";
      left: 0;
      right: 100%;
      height: 2px;
      bottom: 0;
      background-color: var(--biege);

      transition: right 0.3s ease;
    }
  }
}
