@use "../base/templates" as *;
@use "../base/media" as *;

.slider-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}
.slider-arrow {
  @include flex-center;
  cursor: pointer;
  width: 30px;
  height: 60px;
  position: absolute;

  color: white;
  z-index: 10;

  transition:
    opacity 0.3s ease,
    color 0.3s ease;

  &._dark {
    color: var(--black);
  }
  &.swiper-button-disabled {
    opacity: 0.5;
    pointer-events: none;
  }
  &._prev {
    left: -55px;
  }
  &._next {
    right: -55px;
  }
  &.swiper-button-lock {
    display: none !important;
  }

  @include hover {
    color: var(--biege);
  }
  @media (max-width: 1880px) {
    &._prev {
      left: -35px;
    }
    &._next {
      right: -35px;
    }
  }
  @media (max-width: 1820px) {
    display: none;
  }

  svg {
    width: 10px;
    height: 100%;
  }
}

.slider-pagination {
  @include flex-center;
  gap: 10px;
  margin-top: 30px;
  color: white;

  &._dark {
    color: var(--black);
  }
  &._bg-primary {
    padding: 5px;
    background-color: var(--primary);
  }

  &._desk-hide {
    @media (min-width: 1821px) {
      display: none !important;
    }
  }
  &.swiper-pagination-lock {
    display: none !important;
  }

  .swiper-pagination-bullet {
    border-radius: 0px;
    background-color: currentColor;
    cursor: pointer;
    width: 50px;
    height: 2px;
    margin: 0 !important;
    opacity: 0.3;

    transition: opacity 0.3s ease;

    &.swiper-pagination-bullet-active {
      opacity: 1;
    }
    @include hover {
      opacity: 1;
    }
  }
}
