@use "../base/templates" as *;
@use "../base/media" as *;

.social {
  display: flex;
  flex-wrap: wrap;
  flex-shrink: 0;
  gap: 20px;
  row-gap: 15px;
}
.social-item {
  cursor: pointer;
  display: block;
  flex-shrink: 0;
  width: 36px;
  height: 36px;

  @include hover {
    img {
      transform: scale(1.08);
    }
  }

  img {
    display: block;
    width: 100%;
    height: 100%;
    pointer-events: none;

    transition: transform 0.3s ease;
  }
}

.social-s {
  display: flex;
  flex-wrap: wrap;
  flex-shrink: 0;
  gap: 10px;
}

.social-s-item {
  display: block;
  flex-shrink: 0;
  width: 36px;
  height: 36px;

  transition: color .3s ease;

  @include hover {
    color: var(--biege);
  }

  svg {
    width: 100%;
    height: 100%;
  }
}