@use "../base/templates" as *;
@use "../base/media" as *;

.h-title {
  margin-bottom: 40px;
  @include laptop-min {
    margin-bottom: 30px;
  }
}
.m-title {
  font-weight: 700;
  font-size: 48px;
  line-height: 120%;
  margin: 0;
  @include laptop {
    font-size: 44px;
  }
  @include laptop-middle {
    font-size: 38px;
  }
  @include laptop-min {
    font-size: 32px;
  }
  @include tablet {
    font-size: 28px;
  }
}
.s-title {
  font-weight: 700;
  font-size: 40px;
  line-height: 120%;
  margin: 0;
  @include laptop {
    font-size: 38px;
  }
  @include laptop-middle {
    font-size: 32px;
  }
  @include laptop-min {
    font-size: 28px;
  }
  @include tablet {
    font-size: 24px;
  }

  &._mb {
    margin-bottom: 40px;
    @include laptop-min {
      margin-bottom: 30px;
    }
  }
}
.t-title {
  font-weight: 700;
  font-size: 28px;
  line-height: 120%;
  margin: 0;
  @include laptop-min {
    font-size: 24px;
  }
  @include tablet {
    font-size: 20px;
  }
}
.f-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 130%;
  margin: 0;
  @include laptop-min {
    font-size: 18px;
  }
  @include tablet {
    font-size: 16px;
  }
}
