@use "./base/fonts";
@use "./base/normalize";
@use "./base/vars";
@use "./base/templates";
@use "./base/settings";
@use "./base/media";
@use "./base/body-config";
@use "./base/config-container";

// ui
@use "./ui/button";
@use "./ui/list";
@use "./ui/social";
@use "./ui/check-wrapper";
@use "./ui/input";
@use "./ui/title";
@use "./ui/slider";
@use "./ui/sect";
@use "./ui/scrollable";
@use "./ui/card-object";
@use "./ui/tab";
@use "./ui/card-product";
@use "./ui/card-offer";
@use "./ui/card-vlog";
@use "./ui/breadcrumbs";
@use "./ui/pagination";
@use "./ui/content";
@use "./ui/filters";

// components
@use "./components/header";
@use "./components/burger";
@use "./components/modal";

@use "./components/s-hero";
@use "./components/s-why";
@use "./components/s-objects";
@use "./components/s-location";
@use "./components/s-houses";
@use "./components/s-objects-sale";
@use "./components/s-consult";
@use "./components/s-offer";
@use "./components/s-vlog";
@use "./components/s-connect";
@use "./components/s-contacts";
@use "./components/s-help";
@use "./components/s-archive-object";
@use "./components/s-intro-object";
@use "./components/s-adv";
@use "./components/s-about";
@use "./components/s-plan";
@use "./components/s-purchase-methods";
@use "./components/s-developer";
@use "./components/s-shop";
@use "./components/s-product";
@use "./components/s-gallery";
@use "./components/s-layout";

@use "./components/footer";